<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (exam) {
      <div>
        <h2 data-cy="examDetailsHeading"><span [translate]="'gradeScopeIsticApp.exam.detail.title'">Exam</span></h2>
        <hr />
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <dl class="row-md jh-entity-details">
          <dt><span [translate]="'global.field.id'">ID</span></dt>
          <dd>
            <span>{{ exam.id }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.name'">Name</span></dt>
          <dd>
            <span>{{ exam.name }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.template'">Template</span></dt>
          <dd>
            @if (exam.templateId) {
              <div>
                <a [routerLink]="['/template', exam.templateId, 'view']">{{ exam.templateName }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.idzone'">Idzone</span></dt>
          <dd>
            @if (exam.idzoneId) {
              <div>
                <a [routerLink]="['/zone', exam.idzoneId, 'view']">{{ exam.idzoneId }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.namezone'">Namezone</span></dt>
          <dd>
            @if (exam.namezoneId) {
              <div>
                <a [routerLink]="['/zone', exam.namezoneId, 'view']">{{ exam.namezoneId }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.firstnamezone'">Firstnamezone</span></dt>
          <dd>
            @if (exam.firstnamezoneId) {
              <div>
                <a [routerLink]="['/zone', exam.firstnamezoneId, 'view']">{{ exam.firstnamezoneId }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.notezone'">Notezone</span></dt>
          <dd>
            @if (exam.notezoneId) {
              <div>
                <a [routerLink]="['/zone', exam.notezoneId, 'view']">{{ exam.notezoneId }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.scanfile'">Scanfile</span></dt>
          <dd>
            @if (exam.scanfileId) {
              <div>
                <a [routerLink]="['/scan', exam.scanfileId, 'view']">{{ exam.scanfileName }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.exam.course'">Course</span></dt>
          <dd>
            @if (exam.courseId) {
              <div>
                <a [routerLink]="['/course', exam.courseId, 'view']">{{ exam.courseName }}</a>
              </div>
            }
          </dd>
        </dl>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'entity.action.back'">Back</span>
        </button>
        <button type="button" [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span [translate]="'entity.action.edit'">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
