<p-table [value]="students" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="showName" [style]="columnstyle"><span jhiTranslate="scanexam.nom">Name</span></th>
      <th *ngIf="showFirstname" [style]="columnstyle"><span jhiTranslate="scanexam.prenom">FirsName</span></th>
      <th *ngIf="showIne" [style]="columnstyle">INE</th>
      <th *ngIf="showNbName" [style]="columnstyle"><span jhiTranslate="scanexam.nom">Name</span></th>
      <th pSortableColumn="recognizedStudentShow" style="width: 18%">
        <span jhiTranslate="scanexam.recognizedstudent">Recognized Student</span> <p-sortIcon field="student"></p-sortIcon>
      </th>
      <th pSortableColumn="predictionprecision" style="width: 4%">
        <span jhiTranslate="scanexam.score">Probability</span> <p-sortIcon field="probability"></p-sortIcon>
      </th>
      <th style="width: 3%"></th>
      <th style="width: 3%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sheet>
    <tr>
      <td *ngIf="sheet?.nameImageImg"><img style="max-width: 100%" [src]="sheet?.nameImageImg" /></td>
      <td *ngIf="showName && sheet.nameImageImg === undefined"></td>
      <td *ngIf="sheet?.firstnameImageImg"><img style="max-width: 100%" [src]="sheet?.firstnameImageImg" /></td>
      <td *ngIf="showFirstname && sheet.firstnameImageImg === undefined"></td>
      <td *ngIf="sheet?.ineImageImg"><img style="max-width: 100%" [src]="sheet?.ineImageImg" /></td>
      <td *ngIf="showIne && sheet.ineImageImg === undefined"></td>
      <td *ngIf="sheet?.nbName">sheet.nbName</td>
      <td *ngIf="showNbName && sheet.nbName === undefined"></td>
      <td>
        <span style="float: left" [ngClass]="selectedColor(sheet)">{{ sheet.recognizedStudentShow }}</span>
      </td>
      <td>{{ sheet.predictionprecision | number: '1.0-0' }}</td>
      <td>
        <button
          *ngIf="sheet.predictionprecision >= 1"
          [disabled]="nobutton"
          [pTooltip]="'scanexam.bindTooltip' | translate"
          class="p-button p-button-primary"
          (click)="bindStudent(sheet.recognizedStudent, sheet.currentStudent, sheet)"
        >
          <span jhiTranslate="scanexam.bind">bind</span>
        </button>
      </td>
      <td>
        <button
          *ngIf="
            (exam.templateNameBoxCase === undefined && sheet.predictionprecision >= 500) ||
            (exam.templateNameBoxCase && sheet.predictionprecision >= 500) ||
            (!exam.templateNameBoxCase && sheet.predictionprecision >= 20) ||
            (exam.nbgrader !== undefined && exam.nbgrader === true && sheet.predictionprecision >= 0.3)
          "
          [disabled]="nobutton"
          [pTooltip]="'scanexam.bindAllTooltip' | translate"
          class="p-button p-button-primary"
          (click)="bindAllStudent(sheet)"
        >
          <span
            ><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
              <path
                d="M342.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 178.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l80 80c12.5 12.5 32.8 12.5 45.3 0l160-160zm96 128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 402.7 54.6 297.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l256-256z"
              /></svg
          ></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
