<p-table [value]="students" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">FirsName</th>
      <th style="width: 25%">INE</th>
      <th pSortableColumn="predictionprecision" style="width: 18%">Recognized Student <p-sortIcon field="student"></p-sortIcon></th>
      <th pSortableColumn="recognizedStudent" style="width: 4%">Probability <p-sortIcon field="probability"></p-sortIcon></th>
      <th style="width: 3%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sheet>
    <tr>
      <td *ngIf="sheet?.nameImageImg"><img style="max-width: 100%" [src]="sheet?.nameImageImg" /></td>
      <td *ngIf="sheet.nameImageImg === undefined"></td>
      <td *ngIf="sheet?.firstnameImageImg"><img style="max-width: 100%" [src]="sheet?.firstnameImageImg" /></td>
      <td *ngIf="sheet.firstnameImageImg === undefined"></td>
      <td *ngIf="sheet?.ineImageImg"><img style="max-width: 100%" [src]="sheet?.ineImageImg" /></td>
      <td *ngIf="sheet.ineImageImg === undefined"></td>
      <td>{{ sheet.recognizedStudentShow }}</td>
      <td>{{ sheet.predictionprecision | percent: '1.1-1' }}</td>
      <td><button class="p-button p-button-primary" (click)="bindStudent(sheet.recognizedStudent, sheet.currentStudent)">bind</button></td>
    </tr>
  </ng-template>
</p-table>
