<p-table [value]="students" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="firstname" style="width: 20%">FirsName <p-sortIcon field="firstname"></p-sortIcon></th>
      <th pSortableColumn="name" style="width: 20%">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="ine" style="width: 20%">INE <p-sortIcon field="ine"></p-sortIcon></th>
      <th pSortableColumn="student" style="width: 20%">Student <p-sortIcon field="student"></p-sortIcon></th>
      <th pSortableColumn="probability" style="width: 20%">Probability <p-sortIcon field="probability"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.firstname }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.ine }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price | currency: 'USD' }}</td>
    </tr>
  </ng-template>
</p-table>
