<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-answer-2-hybrid-graded-comment-heading"
        data-cy="Answer2HybridGradedCommentCreateUpdateHeading"
        [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.home.createOrEditLabel'"
      >
        Créer ou éditer un Answer 2 Hybrid Graded Comment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="row mb-3">
            <label class="form-label" [translate]="'global.field.id'" for="field_id">ID</label>
            <input
              type="number"
              (mouseup)="$event.stopPropagation()"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
            />
          </div>
        }

        <div class="row mb-3">
          <label class="form-label" [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.stepValue'" for="field_stepValue"
            >Step Value</label
          >
          <input
            type="number"
            (mouseup)="$event.stopPropagation()"
            class="form-control"
            name="stepValue"
            id="field_stepValue"
            data-cy="stepValue"
            formControlName="stepValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.hybridcomments'" for="field_hybridcomments"
            >Hybridcomments</label
          >
          <select
            class="form-control"
            id="field_hybridcomments"
            data-cy="hybridcomments"
            name="hybridcomments"
            formControlName="hybridcomments"
            [compareWith]="compareHybridGradedComment"
          >
            <option [ngValue]="null"></option>
            @for (hybridGradedCommentOption of hybridGradedCommentsSharedCollection; track hybridGradedCommentOption) {
              <option [ngValue]="hybridGradedCommentOption">
                {{ hybridGradedCommentOption.text }}
              </option>
            }
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.studentResponse'"
            for="field_studentResponse"
            >Student Response</label
          >
          <select
            class="form-control"
            id="field_studentResponse"
            data-cy="studentResponse"
            name="studentResponse"
            formControlName="studentResponse"
          >
            <option [ngValue]="null"></option>
            @for (studentResponseOption of studentResponsesSharedCollection; track studentResponseOption) {
              <option [ngValue]="studentResponseOption">
                {{ studentResponseOption.id }}
              </option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span [translate]="'entity.action.cancel'">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span [translate]="'entity.action.save'">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
