<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (answer2HybridGradedComment) {
      <div>
        <h2 data-cy="answer2HybridGradedCommentDetailsHeading">
          <span [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.detail.title'">Answer 2 Hybrid Graded Comment</span>
        </h2>
        <hr />
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <dl class="row-md jh-entity-details">
          <dt><span [translate]="'global.field.id'">ID</span></dt>
          <dd>
            <span>{{ answer2HybridGradedComment.id }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.stepValue'">Step Value</span></dt>
          <dd>
            <span>{{ answer2HybridGradedComment.stepValue }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.hybridcomments'">Hybridcomments</span></dt>
          <dd>
            @if (answer2HybridGradedComment.hybridcommentsId) {
              <div>
                <a [routerLink]="['/hybrid-graded-comment', answer2HybridGradedComment.hybridcommentsId, 'view']">{{
                  answer2HybridGradedComment.hybridcommentsText
                }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.answer2HybridGradedComment.studentResponse'">Student Response</span></dt>
          <dd>
            @if (answer2HybridGradedComment.studentResponseId) {
              <div>
                <a [routerLink]="['/student-response', answer2HybridGradedComment.studentResponseId, 'view']">{{
                  answer2HybridGradedComment.studentResponseId
                }}</a>
              </div>
            }
          </dd>
        </dl>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'entity.action.back'">Retour</span>
        </button>
        <button
          type="button"
          [routerLink]="['/answer-2-hybrid-graded-comment', answer2HybridGradedComment.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span [translate]="'entity.action.edit'">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
