<div class="canvas-wrapper foo">
  <canvas #outputImage></canvas>

  <ngx-extended-pdf-viewer
    [hidden]="'true'"
    [base64Src]="this.scan?.content"
    [useBrowserLocale]="true"
    style="flex: 1 1 100%"
    #viewer
    [height]="'90vh'"
    [page]="1"
    [handTool]="false"
    [showHandToolButton]="false"
    [textLayer]="false"
    [(scrollMode)]="scrollMode"
    [handTool]="false"
    [showToolbar]="false"
    [pageViewMode]="'infinite-scroll'"
    [showSecondaryToolbarButton]="false"
    backgroundColor="#ffffff"
    [zoom]="'100%'"
    [minZoom]="1"
    [maxZoom]="1"
    (pdfLoaded)="exportAsImage()"
  ></ngx-extended-pdf-viewer>

  <jhi-image-extractor
    *ngIf="nomDataURL"
    [left]="(this.zonenom.xInit! * widthnom) / 100000"
    [top]="(this.zonenom.yInit! * heightnom) / 100000"
    [width]="(this.zonenom.width! * widthnom) / 100000"
    [height]="(this.zonenom.height! * heightnom) / 100000"
    [srcb64]="nomDataURL"
  ></jhi-image-extractor>

  <jhi-image-extractor
    *ngIf="prenomDataURL"
    [left]="(this.zoneprenom.xInit! * widthprenom) / 100000"
    [top]="(this.zoneprenom.yInit! * heightprenom) / 100000"
    [width]="(this.zoneprenom.width! * widthprenom) / 100000"
    [height]="(this.zoneprenom.height! * heightprenom) / 100000"
    [srcb64]="prenomDataURL"
  ></jhi-image-extractor>

  <jhi-image-extractor
    *ngIf="ineDataURL"
    [left]="(this.zoneine.xInit! * widthine) / 100000"
    [top]="(this.zoneine.yInit! * heightine) / 100000"
    [width]="(this.zoneine.width! * widthine) / 100000"
    [height]="(this.zoneine.height! * heightine) / 100000"
    [srcb64]="ineDataURL"
  ></jhi-image-extractor>
</div>
