::ng-deep .p-overlay-mask {
  background: rgba(0, 0, 0, 0.85);
}

p-galleria ::ng-deep .p-galleria {
  overflow: hidden;
  border-style: hidden;
  border-width: var(--p-galleria-border-width);
  border-color: var(--p-galleria-border-color);
  border-radius: var(--p-galleria-border-radius);
}

::ng-deep .text-green-400 {
  color: var(--p-green-500) !important; //;
}
::ng-deep .text-red-400 {
  color: var(--p-red-500) !important;
}
