<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span jhiTranslate="gradeScopeIsticApp.question.detail.title">Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.question.numero">Numero</span></dt>
        <dd>
          <span>{{ question.numero }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.question.point">Point</span></dt>
        <dd>
          <span>{{ question.point }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.question.zone">Zone</span></dt>
        <dd>
          <div *ngIf="question.zone">
            <a [routerLink]="['/zone', question.zone?.id, 'view']">{{ question.zone?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.question.type">Type</span></dt>
        <dd>
          <div *ngIf="question.type">
            <a [routerLink]="['/question-type', question.type?.id, 'view']">{{ question.type?.algoName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.question.exam">Exam</span></dt>
        <dd>
          <div *ngIf="question.exam">
            <a [routerLink]="['/exam', question.exam?.id, 'view']">{{ question.exam?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
