<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <div class="col-12">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading"></h2>
      </div>
      <div class="col-4 flex flex-row-reverse"></div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid align-items-center">
        <div class="col-1"></div>
        <div class="col-7"></div>
        <div class="col-4 grid justify-content-end"></div>
      </div>

      <div class="grid">
        <div class="col-9">
          <div class="d-flex justify-content-center">
            <h2><span jhiTranslate="scanexam.question1">Question </span>{{ questionno + 1 }}</h2>
          </div>
          <div class="d-flex justify-content-center" *ngFor="let k of questions; let i = index">
            <div>
              <canvas [hidden]="!showImage[i]" #nomImage></canvas>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div>
            <div style="padding-bottom: 1rem">
              <label jhiTranslate="scanexam.removealignement">Supprimer alignement: </label>
              <p-inputSwitch [(ngModel)]="noalign" (onChange)="changeAlign()"></p-inputSwitch>
            </div>
            <div style="padding-bottom: 1rem">
              <label jhiTranslate="scanexam.zoomfactor">Facteur agrandissement: </label>
              <p-slider *ngIf="noteSteps > 0" [(ngModel)]="factor" [min]="1" [max]="2" [step]="0.1" (onChange)="reloadImage()"> </p-slider>
            </div>
            <p-rating [disabled]="true" *ngIf="noteSteps > 0" [stars]="noteSteps" [(ngModel)]="currentNote"></p-rating>

            <span jhiTranslate="scanexam.noteattribuee">Note attribuée :</span>
            <span *ngIf="questionStep > 0">{{ currentNote / questionStep }}</span>
            <span *ngIf="questionStep <= 0">{{ currentNote }}</span>
            <!--  <p-button icon="pi pi-refresh"></p-button>-->
          </div>
        </div>
      </div>
      <div class="canvas-wrapper foo">
        <ngx-extended-pdf-viewer
          [hidden]="'true'"
          [base64Src]="pdfcontent"
          [useBrowserLocale]="true"
          style="flex: 1 1 100%"
          #viewer
          [height]="'90vh'"
          [page]="1"
          [handTool]="false"
          [showHandToolButton]="false"
          [textLayer]="false"
          [handTool]="false"
          [showToolbar]="false"
          [pageViewMode]="'infinite-scroll'"
          [showSecondaryToolbarButton]="false"
          backgroundColor="#ffffff"
          [zoom]="'100%'"
          [minZoom]="1"
          [maxZoom]="1"
          (pdfLoaded)="pdfloaded()"
        ></ngx-extended-pdf-viewer>

        <canvas [hidden]="!debug" #imageAligned></canvas>

        <canvas [hidden]="!debug" #keypoints1></canvas>
        <canvas [hidden]="!debug" #keypoints2></canvas>
        <canvas [hidden]="!debug" #imageCompareMatches></canvas>
      </div>
    </div>
  </div>
  <!--  <div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>-->
</div>
