<div>
  <h2 id="page-heading" data-cy="QuestionTypeHeading">
    <span [translate]="'gradeScopeIsticApp.questionType.home.title'">Question Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.questionType.home.refreshListLabel'">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question-type"
        [routerLink]="['/question-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.questionType.home.createLabel'"> Create a new Question Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (questionTypes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span [translate]="'gradeScopeIsticApp.questionType.home.notFound'">No questionTypes found</span>
    </div>
  }

  @if (questionTypes && questionTypes.length > 0) {
    <div class="table-responsive" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="id"><span [translate]="'global.field.id'">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="algoName">
              <span [translate]="'gradeScopeIsticApp.questionType.algoName'">Algo Name</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="endpoint">
              <span [translate]="'gradeScopeIsticApp.questionType.endpoint'">Endpoint</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="jsFunction">
              <span [translate]="'gradeScopeIsticApp.questionType.jsFunction'">Js Function</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (questionType of questionTypes; track trackId($index, questionType)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/question-type', questionType.id, 'view']">{{ questionType.id }}</a>
              </td>
              <td>{{ questionType.algoName }}</td>
              <td>{{ questionType.endpoint }}</td>
              <td>{{ questionType.jsFunction }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/question-type', questionType.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/question-type', questionType.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                  </button>
                  <button type="submit" (click)="delete(questionType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (questionTypes && questionTypes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
