<div>
  <h2 id="page-heading" data-cy="HybridGradedCommentHeading">
    <span [translate]="'gradeScopeIsticApp.hybridGradedComment.home.title'">HybridGradedComments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.hybridGradedComment.home.refreshListLabel'">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hybrid-graded-comment"
        [routerLink]="['/hybrid-graded-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.hybridGradedComment.home.createLabel'"> Créer un nouveau Hybrid Graded Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (hybridGradedComments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span [translate]="'gradeScopeIsticApp.hybridGradedComment.home.notFound'">Aucun Hybrid Graded Comment trouvé</span>
    </div>
  }

  @if (hybridGradedComments && hybridGradedComments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span [translate]="'global.field.id'">ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="text">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.text'">Text</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.description'">Description</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.grade'">Grade</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="relative">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.relative'">Relative</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="step">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.step'">Step</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="question.id">
              <div class="d-flex">
                <span [translate]="'gradeScopeIsticApp.hybridGradedComment.question'">Question</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hybridGradedComment of hybridGradedComments; track trackId($index, hybridGradedComment)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hybrid-graded-comment', hybridGradedComment.id, 'view']">{{ hybridGradedComment.id }}</a>
              </td>
              <td>{{ hybridGradedComment.text }}</td>
              <td>{{ hybridGradedComment.description }}</td>
              <td>{{ hybridGradedComment.grade }}</td>
              <td>{{ hybridGradedComment.relative }}</td>
              <td>{{ hybridGradedComment.step }}</td>
              <td>
                @if (hybridGradedComment.questionId) {
                  <div>
                    <a [routerLink]="['/question', hybridGradedComment.questionId, 'view']">{{ hybridGradedComment.questionId }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/hybrid-graded-comment', hybridGradedComment.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.view'">Voir</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/hybrid-graded-comment', hybridGradedComment.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Editer</span>
                  </button>
                  <button type="submit" (click)="delete(hybridGradedComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (hybridGradedComments && hybridGradedComments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
