<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="course">
      <h2 data-cy="courseDetailsHeading"><span jhiTranslate="gradeScopeIsticApp.course.detail.title">Course</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.course.name">Name</span></dt>
        <dd>
          <span>{{ course.name }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.course.prof">Prof</span></dt>
        <dd>
          <span>{{ course.prof?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
