<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="gradeScopeIsticApp.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.numero" for="field_numero">Numero</label>
          <input type="number" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numero')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.point" for="field_point">Point</label>
          <input type="number" class="form-control" name="point" id="field_point" data-cy="point" formControlName="point" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.step" for="field_step">Step</label>
          <input type="number" class="form-control" name="step" id="field_step" data-cy="step" formControlName="step" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.gradeType" for="field_gradeType">Grade Type</label>
          <select class="form-control" name="gradeType" formControlName="gradeType" id="field_gradeType" data-cy="gradeType">
            <option [ngValue]="null">{{ 'gradeScopeIsticApp.GradeType.null' | translate }}</option>
            <option *ngFor="let gradeType of gradeTypeValues" [value]="gradeType">
              {{ 'gradeScopeIsticApp.GradeType.' + gradeType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.zone" for="field_zone">Zone</label>
          <select class="form-control" id="field_zone" name="zone" formControlName="zoneId">
            <option [ngValue]="null"></option>
            <option [ngValue]="zoneOption.id" *ngFor="let zoneOption of zones; trackBy: trackById">{{ zoneOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.type" for="field_type">Type</label>
          <select class="form-control" id="field_type" name="type" formControlName="typeId">
            <option [ngValue]="null"></option>
            <option [ngValue]="questionTypeOption.id" *ngFor="let questionTypeOption of questiontypes; trackBy: trackById">
              {{ questionTypeOption.algoName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.question.exam" for="field_exam">Exam</label>
          <select class="form-control" id="field_exam" name="exam" formControlName="examId">
            <option [ngValue]="null"></option>
            <option [ngValue]="examOption.id" *ngFor="let examOption of exams; trackBy: trackById">{{ examOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
