<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (questionType) {
      <div>
        <h2 data-cy="questionTypeDetailsHeading">
          <span [translate]="'gradeScopeIsticApp.questionType.detail.title'">Question Type</span>
        </h2>
        <hr />
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <dl class="row-md jh-entity-details">
          <dt><span [translate]="'global.field.id'">ID</span></dt>
          <dd>
            <span>{{ questionType.id }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.questionType.algoName'">Algo Name</span></dt>
          <dd>
            <span>{{ questionType.algoName }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.questionType.endpoint'">Endpoint</span></dt>
          <dd>
            <span>{{ questionType.endpoint }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.questionType.jsFunction'">Js Function</span></dt>
          <dd>
            <span>{{ questionType.jsFunction }}</span>
          </dd>
        </dl>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'entity.action.back'">Back</span>
        </button>
        <button type="button" [routerLink]="['/question-type', questionType.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span [translate]="'entity.action.edit'">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
