<div>
  <h2 id="page-heading" data-cy="TemplateHeading">
    <span jhiTranslate="gradeScopeIsticApp.template.home.title">Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span jhiTranslate="gradeScopeIsticApp.template.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-template"
        [routerLink]="['/template/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gradeScopeIsticApp.template.home.createLabel"> Create a new Template </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="templates?.length === 0">
    <span jhiTranslate="gradeScopeIsticApp.template.home.notFound">No templates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="templates && templates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="gradeScopeIsticApp.template.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="content">
            <span jhiTranslate="gradeScopeIsticApp.template.content">Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mark">
            <span jhiTranslate="gradeScopeIsticApp.template.mark">Mark</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autoMapStudentCopyToList">
            <span jhiTranslate="gradeScopeIsticApp.template.autoMapStudentCopyToList">Auto Map Student Copy To List</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/template', template.id, 'view']">{{ template.id }}</a>
          </td>
          <td>{{ template.name }}</td>
          <td>
            <a *ngIf="template.content" (click)="openFile(template.content, template.contentContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="template.content">{{ template.contentContentType }}, {{ byteSize(template.content) }}</span>
          </td>
          <td>{{ template.mark }}</td>
          <td>{{ template.autoMapStudentCopyToList }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/template', template.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/template', template.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(template)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="templates && templates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
