<div>
  <h2 id="page-heading" data-cy="Answer2HybridGradedCommentHeading">
    <span translate="gradeScopeIsticApp.answer2HybridGradedComment.home.title">Answer2HybridGradedComments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span translate="gradeScopeIsticApp.answer2HybridGradedComment.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-answer-2-hybrid-graded-comment"
        [routerLink]="['/answer-2-hybrid-graded-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span translate="gradeScopeIsticApp.answer2HybridGradedComment.home.createLabel">
          Créer un nouveau Answer 2 Hybrid Graded Comment
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (answer2HybridGradedComments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span translate="gradeScopeIsticApp.answer2HybridGradedComment.home.notFound">Aucun Answer 2 Hybrid Graded Comment trouvé</span>
    </div>
  }

  @if (answer2HybridGradedComments && answer2HybridGradedComments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span [translate]="'global.field.id'">ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="stepValue">
              <div class="d-flex">
                <span translate="gradeScopeIsticApp.answer2HybridGradedComment.stepValue">Step Value</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hybridcomments.text">
              <div class="d-flex">
                <span translate="gradeScopeIsticApp.answer2HybridGradedComment.hybridcomments">Hybridcomments</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="studentResponse.id">
              <div class="d-flex">
                <span translate="gradeScopeIsticApp.answer2HybridGradedComment.studentResponse">Student Response</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (answer2HybridGradedComment of answer2HybridGradedComments; track trackId($index, answer2HybridGradedComment)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/answer-2-hybrid-graded-comment', answer2HybridGradedComment.id, 'view']">{{
                  answer2HybridGradedComment.id
                }}</a>
              </td>
              <td>{{ answer2HybridGradedComment.stepValue }}</td>
              <td>
                @if (answer2HybridGradedComment.hybridcommentsId) {
                  <div>
                    <a [routerLink]="['/hybrid-graded-comment', answer2HybridGradedComment.hybridcommentsId, 'view']">{{
                      answer2HybridGradedComment.hybridcommentsText
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (answer2HybridGradedComment.studentResponseId) {
                  <div>
                    <a [routerLink]="['/student-response', answer2HybridGradedComment.studentResponseId, 'view']">{{
                      answer2HybridGradedComment.studentResponseId
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/answer-2-hybrid-graded-comment', answer2HybridGradedComment.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.view'">Voir</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/answer-2-hybrid-graded-comment', answer2HybridGradedComment.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Editer</span>
                  </button>
                  <button
                    type="submit"
                    (click)="delete(answer2HybridGradedComment)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (answer2HybridGradedComments && answer2HybridGradedComments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
