.canvas-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 65vw;
  height: 85vh;
}

.flex-container {
  display: flex;
}

.summary {
  width: 15vw;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}
