<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <p-progressSpinner></p-progressSpinner>
    <!--<i class="pi pi-lock" style="font-size: 3rem"></i>-->
  </p-blockUI>

  <p-confirmDialog
    header="Confirmation envoie mail"
    icon="pi pi-exclamation-triangle"
    [acceptLabel]="'scanexam.yes' | translate"
    [rejectLabel]="'scanexam.no' | translate"
  ></p-confirmDialog>
  <p-dialog [(visible)]="showEmail" [modal]="true">
    <ng-template pTemplate="header">
      <h4 [translate]="'scanexam.confirmemail'">Confirmation envoi mail</h4>
    </ng-template>
    <div class="grid">
      <div class="col-12">
        <label [translate]="'scanexam.mailsubject'">Sujet du mail:</label>
        <input type="text" [(ngModel)]="mailSubject" pInputText [style]="{ width: '100%' }" />
      </div>
      <div class="col-12">
        <label [translate]="'scanexam.mailbody'">Corps du mail:</label>
        <fa-icon
          [size]="'1x'"
          [tooltipZIndex]="'3000'"
          [pTooltip]="'scanexam.mailtooltip' | translate"
          tooltipPosition="top"
          icon="eye"
        ></fa-icon>

        <textarea [style]="{ width: '100%', height: '12rem' }" type="text" [(ngModel)]="mailBody" pInputTextarea></textarea>
      </div>
      <div class="col-12">
        <label [translate]="'scanexam.envoipdf'">Envoi de la copie en pdf:</label>
        <p-checkbox
          [binary]="true"
          [(ngModel)]="mailpdf"
          [style]="{ width: '100%' }"
          [pTooltip]="'scanexam.envoiemailPdfTooltip' | translate"
          [tooltipPosition]="'top'"
          [tooltipZIndex]="'3000'"
        />
      </div>
      @if (!currentStudentMail) {
        <div class="col-12">
          <label [translate]="'scanexam.envoiabi'">Envoi du mail aux absents:</label>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="mailabi"
            [style]="{ width: '100%' }"
            [pTooltip]="'scanexam.envoiemailAbsentTooltip' | translate"
            [tooltipPosition]="'top'"
            [tooltipZIndex]="'3000'"
          />
        </div>
      }
      @if (mailabi) {
        <div class="col-12">
          <label [translate]="'scanexam.mailabibody'">Corps du mail:</label>
          <textarea [style]="{ width: '100%', height: '6rem' }" type="text" [(ngModel)]="mailabiBody" pInputTextarea></textarea>
        </div>
      }
    </div>

    <ng-template pTemplate="footer">
      <button
        [disabled]="!this.examid"
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        class="p-button p-button-primary"
        (click)="envoiEmailEtudiant()"
        [pTooltip]="'scanexam.envoiemailActionTooltip' | translate"
        [tooltipPosition]="'top'"
        [tooltipZIndex]="'3000'"
      >
        <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;<span [translate]="'scanexam.envoiemail'">Envoi mail étudiants</span>
      </button>
    </ng-template>
  </p-dialog>

  <div class="sm:col-12 md:col-12 lg:col-10 xl:col-10">
    <div class="grid grid-nogutter">
      <div class="col-4">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" [translate]="'scanexam.resultatstudents'">Résultat étudiants</h2>
      </div>
      <div class="col-8 flex flex-row-reverse">
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'scanexam.gobackexam'">Retourner à l'exam</span>
        </button>
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [pTooltip]="'scanexam.envoiemailTooltip' | translate"
          [tooltipPosition]="'top'"
          [tooltipZIndex]="'3000'"
          (click)="showEmailStudent()"
        >
          <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;<span [translate]="'scanexam.envoimailstudent'">Envoi mail étudiants</span>
        </button>
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="exportExcel()"
          [pTooltip]="'scanexam.exportExcelTooltip' | translate"
          [tooltipPosition]="'top'"
          [tooltipZIndex]="'3000'"
        >
          <fa-icon [icon]="faFileExcel"></fa-icon>&nbsp;<span [translate]="'scanexam.exportexcel'">Export Excel</span>
        </button>
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="exportCSV()"
          [pTooltip]="'scanexam.exportCSVTooltip' | translate"
          [tooltipPosition]="'top'"
          [tooltipZIndex]="'3000'"
        >
          <fa-icon [icon]="faFileCsv"></fa-icon>&nbsp;<span [translate]="'scanexam.exportcsv'">Export CSV</span>
        </button>

        @if (this.examid) {
          <a
            class="mylink p-button p-button-primary"
            pButton
            [routerLink]="'/statistics/' + this.examid"
            type="button"
            [pTooltip]="'scanexam.voirStatistiquesTooltip' | translate"
            [tooltipPosition]="'top'"
            [tooltipZIndex]="'3000'"
          >
            <fa-icon [icon]="fatemperaturethreequarters"></fa-icon>&nbsp;<span [translate]="'scanexam.showstat'">Show statistics</span>
          </a>
        }
        @if (!this.examid) {
          <a
            class="disabled mylink p-button p-button-primary"
            type="button"
            pButton
            [pTooltip]="'scanexam.voirStatistiquesTooltip' | translate"
            [tooltipPosition]="'top'"
            [tooltipZIndex]="'3000'"
          >
            <fa-icon [icon]="fatemperaturethreequarters"></fa-icon>&nbsp;<span [translate]="'scanexam.showstat'">Show statistics</span>
          </a>
        }

        @if (this.examid) {
          <a
            class="p-button mylink p-button-primary"
            pButton
            [routerLink]="'/voirreponsesstarunstar/' + this.examid"
            type="button"
            [pTooltip]="'scanexam.voirReponsesRepresentativeTooltip' | translate"
            [tooltipPosition]="'top'"
            [tooltipZIndex]="'3000'"
          >
            <fa-icon [icon]="fatemperaturethreequarters"></fa-icon>&nbsp;<span [translate]="'scanexam.showanswer'"
              >Show representative answers</span
            >
          </a>
        }
        @if (!this.examid) {
          <a
            class="disabled mylink p-button p-button-primary"
            pButton
            type="button"
            [pTooltip]="'scanexam.voirReponsesRepresentativeTooltip' | translate"
            [tooltipPosition]="'top'"
            [tooltipZIndex]="'3000'"
          >
            <fa-icon [icon]="fatemperaturethreequarters"></fa-icon>&nbsp;<span [translate]="'scanexam.showanswer'"
              >Show representative answers</span
            ></a
          >
        }
      </div>
    </div>
    <div class="col-12 md:col-12">
      <p-table [value]="studentsresult" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th [translate]="'scanexam.ine'">INE</th>
            <th [translate]="'scanexam.nom'">NOM</th>
            <th [translate]="'scanexam.prenom'">PRENOM</th>
            <th [translate]="'scanexam.mail'">MAIL</th>
            <th [translate]="'scanexam.note'">NOTE</th>
            <th [translate]="'scanexam.lienprof'">LIEN PROF</th>
            <th [translate]="'scanexam.lieneleve'">LIEN</th>
            <th [translate]="'scanexam.lienelevepdf'">LIEN</th>
            <th [translate]="'scanexam.envoimailpersonal'">Envoi Mail</th>
            <th [translate]="'scanexam.abiabj'">ABI/ABJ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>{{ student.ine }}</td>
            <td>{{ student.nom }}</td>
            <td>{{ student.prenom }}</td>
            <td>{{ student.mail }}</td>
            @if (student.abi === 0) {
              <td>{{ student.note }}</td>
            }
            @if (student.abi > 0) {
              <td>0</td>
            }
            @if (student.studentNumber) {
              <td>
                <a
                  [pTooltip]="'scanexam.showresultLienProfTooltip' | translate"
                  [tooltipPosition]="'top'"
                  [tooltipZIndex]="'3000'"
                  href="{{ 'answer/' + exam?.id + '/1' + '/' + student.studentNumber }}"
                  [translate]="'scanexam.correction1'"
                  >correction</a
                >
              </td>
            }
            @if (student.abi == 1) {
              <td>ABI</td>
            }
            @if (student.abi == 2) {
              <td>ABJ</td>
            }
            @if (student.abi === 0) {
              <td>
                @if (student.mail != 'anonymous@anonymous.fr') {
                  <a
                    [pTooltip]="'scanexam.showresultLienEleveTooltip' | translate"
                    [tooltipPosition]="'top'"
                    [tooltipZIndex]="'3000'"
                    target="_blank"
                    href="{{ 'copie/' + student.uuid + '/1' }}"
                    [translate]="'scanexam.lien'"
                    >link</a
                  >
                }
              </td>
            }
            @if (student.abi == 1) {
              <td>ABI</td>
            }
            @if (student.abi == 2) {
              <td>ABJ</td>
            }
            @if (student.abi === 0) {
              <td>
                <a
                  [pTooltip]="'scanexam.showresultLienPdfTooltip' | translate"
                  [tooltipPosition]="'top'"
                  [tooltipZIndex]="'3000'"
                  target="_blank"
                  href="{{ 'exportpdf/' + examid! + '/' + student.uuid }}"
                  [translate]="'scanexam.pdf'"
                  >pdf</a
                >
              </td>
            }
            @if (student.abi == 1) {
              <td>ABI</td>
            }
            @if (student.abi == 2) {
              <td>ABJ</td>
            }
            @if (!student.abi) {
              <td>
                @if (student.mail != 'anonymous@anonymous.fr') {
                  <button
                    type="submit"
                    id="save-entity"
                    data-cy="entityCreateSaveButton"
                    class="p-button p-button-primary mr-5"
                    [pTooltip]="'scanexam.sendirectemail' | translate"
                    [tooltipPosition]="'left'"
                    (click)="showEmailSt(student)"
                  >
                    <fa-icon icon="envelope"></fa-icon>
                  </button>
                }
              </td>
            }
            @if (student.abi > 0) {
              <td></td>
            }
            @if (student.abi === 0) {
              <td></td>
            }
            @if (student.abi > 0) {
              <td>
                <p-toggleSwitch
                  [trueValue]="2"
                  [falseValue]="1"
                  [(ngModel)]="student.abi"
                  (onChange)="updateStudentABJ(student)"
                ></p-toggleSwitch>
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="lg:col-2 xl:col-2 overflow-hidden hiddenxsmd sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
