<div>
  <p-toast></p-toast>

  <p-dock [styleClass]="'pdock'" [model]="dockItems" position="top">
    <ng-template pTemplate="item" let-item>
      <a *ngIf="item.route" [routerLink]="item.route"
        ><img [src]="item.icon" [alt]="item.label" class="imageDock" [pTooltip]="item.title"
      /></a>
      <a *ngIf="item.command1" (click)="item.command1()"
        ><img [src]="item.icon" [alt]="item.label" class="imageDock" [pTooltip]="item.title"
      /></a>
    </ng-template>
  </p-dock>
  <p-confirmDialog [header]="'scanexam.confirmremove' | translate" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <div class="wizard-v2-content">
    <p-blockUI [blocked]="blocked">
      <div class="grid" style="width: 90vw">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <i class="pi pi-lock" style="font-size: 3rem"> </i><BR />
          <div *ngIf="message !== undefined && message.length > 0">
            {{ message }} <BR />
            {{ submessage }}
            <span *ngIf="submessage !== undefined && submessage.length > 0">{{ progress }} / 100</span>
            <BR />
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </p-blockUI>

    <div class="wizard-image"></div>
    <div class="wizard-form">
      <div class="wizard-header">
        <h3>{{ exam?.name }}</h3>
        <p jhiTranslate="scanexam.slogan">Vos exams accessibles en un clic</p>
      </div>
      <div id="form-total" #formTotal>
        <div class="inner" [style]="{ 'text-align': 'center' }">
          <button
            [routerLink]="'/exam/annotate/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span jhiTranslate="scanexam.annotatetemplate">Annoter template</span><span *ngIf="exam?.namezoneId">✅</span>
          </button>
          <button
            [routerLink]="'/loadscan/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span jhiTranslate="scanexam.loadscan">Charger scan étudiants</span> <span *ngIf="exam?.scanfileId">✅</span>
          </button>
          <button
            [routerLink]="'/imagealign/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !exam?.scanfileId"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span jhiTranslate="scanexam.alignscan1">Redresser scan</span><span *ngIf="showAssociation">✅</span>
          </button>
          <button
            [routerLink]="'/studentbindings/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showAssociation"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span jhiTranslate="scanexam.bindstudent">Associer copies/étudiants</span><span *ngIf="showCorrection">✅</span>
          </button>
          <button
            [routerLink]="'/marking-summary/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span jhiTranslate="scanexam.correctsheet">Corriger copies</span>
          </button>
          <button
            [routerLink]="'/showresults/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span jhiTranslate="scanexam.showresult"> Voir résultats</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
