<div>
  <p-toast></p-toast>
  <p-dialog [header]="'scanexam.firsthelpTitle' | translate" [(visible)]="firsthelp" [style]="{ width: '90vw' }">
    <div style="display: flex; justify-content: space-around">
      <span [innerHTML]="'scanexam.firsthelpdetail' | translate"></span>
    </div>
    <BR />
    <BR />
    <div style="display: flex; justify-content: flex-end; margin-right: 1rem">
      <span [translate]="'scanexam.shortcutopenatstart'"></span>&nbsp;
      <input type="checkbox" [(ngModel)]="firsthelpvalue" (change)="changeStartPreference()" />
    </div>
    <ng-template pTemplate="footer">
      <button type="button" pButton label="ok" (click)="firsthelp = false"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [header]="'scanexam.showInfoExamTitle' | translate" [(visible)]="showInfoExam" [style]="{ width: '50vw' }">
    <div [innerHTML]="'scanexam.infoExamDetails' | translate: infoExamDetail"></div>
    <ng-template pTemplate="footer">
      <button type="button" pButton label="ok" (click)="showInfoExam = false"></button>
    </ng-template>
  </p-dialog>

  <p-dock [styleClass]="'pdock'" [model]="dockItems" position="top">
    <ng-template pTemplate="item" let-item>
      @if (item.route) {
        <a [routerLink]="item.route"
          ><img [src]="item.icon" [alt]="item.label" class="imageDock" [tooltipZIndex]="'3000'" [pTooltip]="item.title"
        /></a>
      }
      @if (item.command1) {
        <a (click)="item.command1()"
          ><img [src]="item.icon" [alt]="item.label" class="imageDock" [tooltipZIndex]="'3000'" [pTooltip]="item.title"
        /></a>
      }
    </ng-template>
  </p-dock>
  <p-confirmDialog
    [header]="'scanexam.confirmation' | translate"
    icon="pi pi-exclamation-triangle"
    [acceptLabel]="'scanexam.yes' | translate"
    [rejectLabel]="'scanexam.no' | translate"
  ></p-confirmDialog>
  <div class="wizard-v2-content">
    <p-blockUI [blocked]="blocked">
      <div class="grid" style="width: 90vw">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <p-progressSpinner></p-progressSpinner>
          <!--          <i class="pi pi-lock" style="font-size: 3rem"> </i>-->
          <BR />
          @if (message !== undefined && message.length > 0) {
            <div>
              {{ message }} <BR />
              {{ submessage }}
              @if (submessage !== undefined && submessage.length > 0 && progress !== -1) {
                <span>{{ progress }} / 100</span>
              }
              <BR />
            </div>
          }
        </div>
        <div class="col-4"></div>
      </div>
    </p-blockUI>

    <div class="wizard-image"></div>
    <div class="wizard-form">
      <jhi-usable-text-input
        [name]="this.exam?.name ?? ''"
        [tooltip]="'scanexam.tooltipeditexamname' | translate"
        [placeholder]="'scanexam.placeholdereditexamname' | translate"
        (newValue)="onExamNameChanged($event)"
      >
      </jhi-usable-text-input>
      <div id="form-total" #formTotal>
        <div class="inner" [style]="{ 'text-align': 'center' }">
          @if (exam?.nbgrader === false) {
            <button
              [routerLink]="'/exam/annotate/' + this.examId"
              [style]="{ marginBottom: '1em', margin: '1em' }"
              class="p-element p-ripple button80"
              pButton
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.annotatexamtooltip' | translate"
              tooltipPosition="top"
              pRipple
              type="button"
            >
              <fa-stack>
                <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faPenToSquare" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
              ><BR /> <span [translate]="'scanexam.annotatetemplate'">Annoter template</span>
              @if (exam?.namezoneId) {
                <span>✅</span>
              }
            </button>
            <button
              [routerLink]="'/loadscan/' + this.examId"
              [style]="{ marginBottom: '1em', margin: '1em' }"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.chargerscantooltip' | translate"
              tooltipPosition="top"
              class="p-element p-ripple button80"
              pButton
              pRipple
              type="button"
            >
              <fa-stack>
                <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faCloudArrowUp" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
              ><BR /> <span [translate]="'scanexam.loadscan'">Charger scan étudiants</span>
              @if (exam?.scanfileId) {
                <span>✅</span>
              }
            </button>
            <button
              [routerLink]="'/imagealign/' + this.examId"
              [style]="{ marginBottom: '1em', margin: '1em' }"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.redresserscantooltip' | translate"
              tooltipPosition="top"
              class="p-element p-ripple button80"
              pButton
              pRipple
              type="button"
              [disabled]="blocked || !exam?.scanfileId || !showAlignement"
            >
              <fa-stack>
                <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faDiagramPredecessor" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
              ><BR /> <span [translate]="'scanexam.alignscan1'">Redresser scan</span>
              @if (showAssociation) {
                <span>✅</span>
              }
            </button>

            <button
              [routerLink]="'/studentbindings/' + this.examId"
              [style]="{ marginBottom: '1em', margin: '1em' }"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.associerscantooltip' | translate"
              tooltipPosition="top"
              class="p-element p-ripple button80"
              pButton
              pRipple
              type="button"
              [disabled]="blocked || !showAssociation"
            >
              <fa-stack>
                <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faPersonArrowDownToLine" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
              ><BR /> <span [translate]="'scanexam.bindstudent'">Associer copies/étudiants</span>
              @if (showCorrection) {
                <span>✅</span>
              }
            </button>
          } @else {
            <button
              [routerLink]="'/studentbindingsnbgrader/' + this.examId"
              [style]="{ marginBottom: '1em', margin: '1em' }"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.associerscantooltip' | translate"
              tooltipPosition="top"
              class="p-element p-ripple button80"
              pButton
              pRipple
              type="button"
              [disabled]="blocked || !showAssociation"
            >
              <fa-stack>
                <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faPersonArrowDownToLine" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
              ><BR /> <span [translate]="'scanexam.bindstudent'">Associer copies/étudiants</span>
              @if (showCorrection) {
                <span>✅</span>
              }
            </button>
          }
          <button
            [routerLink]="'/marking-summary/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            [tooltipZIndex]="'3000'"
            [pTooltip]="'scanexam.corrigerscantooltip' | translate"
            tooltipPosition="top"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span [translate]="'scanexam.correctsheet'">Corriger copies</span>
            @if (correctionFinish) {
              <span>✅</span>
            }
          </button>
          <button
            [routerLink]="'/showresults/' + this.examId"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            [tooltipZIndex]="'3000'"
            [pTooltip]="'scanexam.resultatsscantooltip' | translate"
            tooltipPosition="top"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faSquarePollVertical" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span [translate]="'scanexam.showresult'"> Voir résultats</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
