<div>
  <p-toast></p-toast>

  <p-dock [model]="dockItems" position="top">
    <ng-template pTemplate="item" let-item>
      <a *ngIf="item.route" [routerLink]="item.route"><img [src]="item.icon" [alt]="item.label" width="64px" [pTooltip]="item.title" /></a>
      <a *ngIf="item.command1" (click)="item.command1()"
        ><img [src]="item.icon" [alt]="item.label" width="64px" [pTooltip]="item.title"
      /></a>
    </ng-template>
  </p-dock>
  <p-confirmDialog header="Confirmation suppression" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <div class="wizard-v2-content">
    <p-blockUI [blocked]="blocked">
      <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>

    <div class="wizard-image"></div>
    <div class="wizard-form">
      <div class="wizard-header">
        <h3>{{ exam?.name }}</h3>
        <p>Vos exams accessibles en un clic</p>
      </div>
      <div id="form-total" #formTotal>
        <div class="inner" [style]="{ 'text-align': 'center' }">
          <button
            [routerLink]="'/exam/annotate/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span>Annoter template</span><span *ngIf="exam?.namezoneId">✅</span>
          </button>
          <button
            [routerLink]="'/loadscan/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span>Charger scan étudiants</span> <span *ngIf="exam?.scanfileId">✅</span>
          </button>
          <button
            [routerLink]="'/imagealign/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !exam?.scanfileId"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span>Redresser scan</span><span *ngIf="showAssociation">✅</span>
          </button>
          <button
            [routerLink]="'/studentbindings/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showAssociation"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR /> <span>Associer copies/étudiants</span><span *ngIf="showCorrection">✅</span>
          </button>
          <button
            [routerLink]="'/answer/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span>Corriger copies</span>
          </button>
          <button
            [routerLink]="'/showresults/' + this.examId"
            [style]="{ width: '20em', marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple"
            pButton
            pRipple
            type="button"
            [disabled]="blocked || !showCorrection"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span>Voir résultats</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
