<div>
  <h2 id="page-heading" data-cy="QuestionHeading">
    <span [translate]="'gradeScopeIsticApp.question.home.title'">Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.question.home.refreshListLabel'">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question"
        [routerLink]="['/question/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span [translate]="'gradeScopeIsticApp.question.home.createLabel'"> Create a new Question </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (questions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span [translate]="'gradeScopeIsticApp.question.home.notFound'">No questions found</span>
    </div>
  }

  @if (questions && questions.length > 0) {
    <div class="table-responsive" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="id"><span [translate]="'global.field.id'">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="numero">
              <span [translate]="'gradeScopeIsticApp.question.numero'">Numero</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="point">
              <span [translate]="'gradeScopeIsticApp.question.point'">Point</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="step">
              <span [translate]="'gradeScopeIsticApp.question.step'">Step</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="validExpression">
              <span [translate]="'gradeScopeIsticApp.question.validExpression'">Valid Expression</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="gradeType">
              <span [translate]="'gradeScopeIsticApp.question.gradeType'">Grade Type</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="zone.id">
              <span [translate]="'gradeScopeIsticApp.question.zone'">Zone</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="type.algoName">
              <span [translate]="'gradeScopeIsticApp.question.type'">Type</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="exam.name">
              <span [translate]="'gradeScopeIsticApp.question.exam'">Exam</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (question of questions; track trackId($index, question)) {
            <tr>
              <td>
                <a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a>
              </td>
              <td>{{ question.numero }}</td>
              <td>{{ question.point }}</td>
              <td>{{ question.step }}</td>
              <td>{{ question.validExpression }}</td>
              <td translate="{{ 'gradeScopeIsticApp.GradeType.' + question.gradeType }}">{{ question.gradeType }}</td>
              <td>
                @if (question.zoneId) {
                  <div>
                    <a [routerLink]="['/zone', question.zoneId, 'view']">{{ question.zoneId }}</a>
                  </div>
                }
              </td>
              <td>
                @if (question.typeId) {
                  <div>
                    <a [routerLink]="['/question-type', question.typeId, 'view']">{{ question.typeAlgoName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (question.examId) {
                  <div>
                    <a [routerLink]="['/exam', question.examId, 'view']">{{ question.examName }}</a>
                  </div>
                }
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit" [routerLink]="['/question', question.id, 'view']" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                  </button>
                  <button type="submit" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                  </button>
                  <button type="submit" (click)="delete(question)" class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (questions && questions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
