<div>
  <div class="d-flex flex-wrap mb-5">
    <div
      [title]="'scanexam.selectmove' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'SELECT' }"
      (click)="select(DrawingTools.SELECT)"
    >
      <fa-icon [icon]="faHandPointer"></fa-icon>
    </div>
    <div
      [title]="'scanexam.erase' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'ERASER' }"
      (click)="select(DrawingTools.ERASER)"
    >
      <fa-icon [icon]="faEraser"></fa-icon>
    </div>
    <!--<div
      title="Straight Line"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'LINE' }"
      (click)="select(DrawingTools.LINE)"
    >
      <img src="/content/images/toolbar-images/line.png" />
    </div>-->
    <!--<div
      title="Dashed line"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'DASHED_LINE' }"
      (click)="select(DrawingTools.DASHED_LINE)"
    >
      <img src="/content/images/toolbar-images/dashed-line.png" />
    </div>-->
    <!--<div
      title="Ellipse"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'ELLIPSE' }"
      (click)="select(DrawingTools.ELLIPSE)"
    >
      <img src="/content/images/toolbar-images/ellipse.png" />
    </div>-->
    <!--<div
      title="Rectangle"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'RECTANGLE' }"
      (click)="select(DrawingTools.RECTANGLE)"
    >
      <img src="/content/images/toolbar-images/rectangle.png" />
    </div>-->
    <div
      [title]="'scanexam.nom' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'NOMBOX' }"
      (click)="select(DrawingTools.NOMBOX)"
    >
      <fa-icon [icon]="faNom"></fa-icon>
    </div>
    <div
      [title]="'scanexam.prenom' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'PRENOMBOX' }"
      (click)="select(DrawingTools.PRENOMBOX)"
    >
      <fa-icon [icon]="faPrenom"></fa-icon>
    </div>
    <div
      [title]="'scanexam.ine' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'INEBOX' }"
      (click)="select(DrawingTools.INEBOX)"
    >
      <fa-icon [icon]="faHashtagLock"></fa-icon>
    </div>
    <div
      [title]="'scanexam.question' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'QUESTIONBOX' }"
      (click)="select(DrawingTools.QUESTIONBOX)"
    >
      <fa-icon [icon]="faQuestion"></fa-icon>
    </div>

    <!--<div
      title="Polygon, first line drag, additionals click, click center to finish"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'POLYGON' }"
      (click)="select(DrawingTools.POLYGON)"
    >
      <img src="/content/images/toolbar-images/polygon.png" />
    </div>-->
    <div
      [title]="'scanexam.freedrawing' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'PENCIL' }"
      (click)="select(DrawingTools.PENCIL)"
    >
      <fa-icon [icon]="faPencil"></fa-icon>
    </div>
    <!--<div
      title="Editable textfield"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'TEXT' }"
      (click)="select(DrawingTools.TEXT)"
    >
      <img src="content/images/toolbar-images/text.png" />
    </div>-->
    <!--<div
      title="Fill/paint with colour"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'FILL' }"
      (click)="select(DrawingTools.FILL)"
    >
      <img src="/content/images/toolbar-images/fill.png" />
    </div>-->
    <div
      [title]="'scanexam.clearcanvas' | translate"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'GARBAGE' }"
      (click)="select(DrawingTools.GARBAGE)"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </div>
  </div>
  <!--<jhi-colour-palette></jhi-colour-palette>
  <jhi-thickness-slider></jhi-thickness-slider>-->
</div>
