<div class="grid grid-nogutter min-h-full">
  <style>
    body .ui-inputfield.ui-state-drag {
      background: #ffffd6;
    }
  </style>

  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="col-6">
          <h5 jhiTranslate="scanexam.uploadsvg">Upload SVG</h5>
          <p-fileupload
            #fileUpload
            name="svg"
            [chooseLabel]="'scanexam.svgchoosesvg' | translate"
            [pTooltip]="'scanexam.svgchoosesvgtooltip' | translate"
            [auto]="true"
            [customUpload]="true"
            (uploadHandler)="onUpload($event, fileUpload)"
            [multiple]="false"
            accept="image/svg+xml"
            maxFileSize="1000000"
            mode="advanced"
          ></p-fileupload>

          <h5 jhiTranslate="scanexam.svgsource">SVG source</h5>
          <button
            [pTooltip]="'scanexam.svgloadtooltip' | translate"
            jhiTranslate="scanexam.svgload"
            [disabled]="value === undefined || value === ''"
            class="flex-grow-1 min-w-full primary p-button"
            (click)="importSvg()"
          >
            import
          </button>

          <div class="flex flex">
            <textarea class="flex-grow-1 min-w-full" rows="5" cols="30" pTextarea [(ngModel)]="value"></textarea>
          </div>
        </div>
        <div class="col-6" *ngIf="value">
          <div class="flex flex-column min-h-full">
            <div class="flex flex-grow-1 min-h-full align-items-center justify-content-center">
              <img class="max-w-3rem" [src]="getSVGImageUrl(value!)" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div *ngFor="let item of customcomments() | keyvalue" class="col-1">
            <img class="max-w-2rem" [src]="getSVGImageUrl(item.value)" />
            <p-overlay-badge severity="danger" class="inline-flex" value="X" (click)="removeCustomSVG(item.key)"> </p-overlay-badge>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="flex align-content-center flex-wrap card-container">
          <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2">
            <p-fileUpload
              #fileImport
              [chooseIcon]="''"
              [chooseStyleClass]="'p-button p-button-primary'"
              mode="basic"
              [auto]="true"
              [customUpload]="true"
              [chooseLabel]="'scanexam.svgimport' | translate"
              [pTooltip]="'scanexam.svgimporttooltip' | translate"
              name="import[]"
              accept="application/json"
              [maxFileSize]="1000000"
              (uploadHandler)="onImport($event, fileImport)"
            ></p-fileUpload>
          </div>
          <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2">
            <button
              class="p-button p-button-primary"
              (click)="exportSVG()"
              [pTooltip]="'scanexam.svgexporttooltip' | translate"
              jhiTranslate="scanexam.svgexport"
            >
              Export
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
