<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="studentResponse">
      <h2 data-cy="studentResponseDetailsHeading">
        <span jhiTranslate="gradeScopeIsticApp.studentResponse.detail.title">Student Response</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ studentResponse.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.studentResponse.note">Note</span></dt>
        <dd>
          <span>{{ studentResponse.note }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.studentResponse.question">Question</span></dt>
        <dd>
          <div *ngIf="studentResponse.questionId">
            <a [routerLink]="['/question', studentResponse.questionId, 'view']">{{ studentResponse.questionNumero }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.studentResponse.student">Student</span></dt>
        <dd>
          <div *ngIf="studentResponse.studentId">
            <a [routerLink]="['/student', studentResponse.studentId, 'view']">{{ studentResponse.studentName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student-response', studentResponse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
