<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studentResponse) {
      <div>
        <h2 data-cy="studentResponseDetailsHeading">
          <span [translate]="'gradeScopeIsticApp.studentResponse.detail.title'">Student Response</span>
        </h2>
        <hr />
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <dl class="row-md jh-entity-details">
          <dt><span [translate]="'global.field.id'">ID</span></dt>
          <dd>
            <span>{{ studentResponse.id }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.note'">Note</span></dt>
          <dd>
            <span>{{ studentResponse.note }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.star'">Star</span></dt>
          <dd>
            <span>{{ studentResponse.star }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.worststar'">Worststar</span></dt>
          <dd>
            <span>{{ studentResponse.worststar }}</span>
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.question'">Question</span></dt>
          <dd>
            @if (studentResponse.questionId) {
              <div>
                <a [routerLink]="['/question', studentResponse.questionId, 'view']">{{ studentResponse.questionNumero }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.sheet'">Student sheet</span></dt>
          <dd>
            @if (studentResponse.sheetId) {
              <div>
                <a [routerLink]="['/sheet', studentResponse.sheetId, 'view']">{{ studentResponse.sheetName }}</a>
              </div>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.textcomments'">Textcomments</span></dt>
          <dd>
            @for (textcomments of studentResponse.textcomments; track textcomments; let last = $last) {
              <span>
                <a [routerLink]="['/text-comment', textcomments?.id, 'view']">{{ textcomments.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span [translate]="'gradeScopeIsticApp.studentResponse.gradedcomments'">Gradedcomments</span></dt>
          <dd>
            @for (gradedcomments of studentResponse.gradedcomments; track gradedcomments; let last = $last) {
              <span>
                <a [routerLink]="['/graded-comment', gradedcomments?.id, 'view']">{{ gradedcomments.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'entity.action.back'">Back</span>
        </button>
        <button type="button" [routerLink]="['/student-response', studentResponse.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span [translate]="'entity.action.edit'">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
