<div>
  <h2 id="page-heading" data-cy="CommentsHeading">
    <span jhiTranslate="gradeScopeIsticApp.comments.home.title">Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span jhiTranslate="gradeScopeIsticApp.comments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comments"
        [routerLink]="['/comments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gradeScopeIsticApp.comments.home.createLabel"> Create a new Comments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
    <span jhiTranslate="gradeScopeIsticApp.comments.home.notFound">No comments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="comments && comments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="zonegeneratedid">
            <span jhiTranslate="gradeScopeIsticApp.comments.zonegeneratedid">Zonegeneratedid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jsonData">
            <span jhiTranslate="gradeScopeIsticApp.comments.jsonData">Json Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="studentResponse.id">
            <span jhiTranslate="gradeScopeIsticApp.comments.studentResponse">Student Response</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comments of comments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comments', comments.id, 'view']">{{ comments.id }}</a>
          </td>
          <td>{{ comments.zonegeneratedid }}</td>
          <td>{{ comments.jsonData }}</td>
          <td>
            <div *ngIf="comments.studentResponseId">
              <a [routerLink]="['/student-response', comments.studentResponseId, 'view']">{{ comments.studentResponseId }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comments', comments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comments', comments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(comments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="comments && comments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
