<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="comments">
      <h2 data-cy="commentsDetailsHeading"><span jhiTranslate="gradeScopeIsticApp.comments.detail.title">Comments</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ comments.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.comments.jsonData">Json Data</span></dt>
        <dd>
          <span>{{ comments.jsonData }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.comments.studentResponse">Student Response</span></dt>
        <dd>
          <div *ngIf="comments.studentResponse">
            <a [routerLink]="['/student-response', comments.studentResponse?.id, 'view']">{{ comments.studentResponse?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/comments', comments.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
