<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="scan">
      <h2 data-cy="scanDetailsHeading"><span jhiTranslate="gradeScopeIsticApp.scan.detail.title">Scan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ scan.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.scan.name">Name</span></dt>
        <dd>
          <span>{{ scan.name }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.scan.content">Content</span></dt>
        <dd>
          <div *ngIf="scan.content">
            <a (click)="openFile(scan.content, scan.contentContentType)" jhiTranslate="entity.action.open">open</a>
            {{ scan.contentContentType }}, {{ byteSize(scan.content) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/scan', scan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
