<div>
  <h3 [translate]="'scanexam.resumebareme'">Résumé du sujet</h3>
  <hr />
  <div *ngFor="let q of getSortedQuestions(); index as i">
    <a (click)="goToQuestion(q)"
      ><b>Q{{ q.numero }}</b></a
    >
    <div *ngIf="isFollowingQuestion(i, q); then follow; else nofollow"></div>
    <ng-template #follow>( <span [translate]="'scanexam.suite'"></span> )</ng-template>
    <ng-template #nofollow
      >- {{ q.point }} <span [translate]="'scanexam.pointincr'">points, incr. de </span>{{ 1 / (q.step ?? 1) }}
      <span *ngIf="q.mustBeIgnoreInGlobalScale"> (ignore)</span></ng-template
    >
  </div>
  <br />
  <strong>Total: {{ sumPoints() }} points</strong>
</div>
