<div>
  <h3 [translate]="'scanexam.resumebareme'">Résumé du sujet</h3>
  <hr />
  @for (q of getSortedQuestions(); track q; let i = $index) {
    <div>
      <a (click)="goToQuestion(q)"
        ><b>Q{{ q.numero }}</b></a
      >
      @if (isFollowingQuestion(i, q)) {
        ( <span [translate]="'scanexam.suite'"></span> )
      } @else {
        - {{ q.point }} <span [translate]="'scanexam.pointincr'">points, incr. de </span>{{ 1 / (q.step ?? 1) }}
        @if (q.mustBeIgnoreInGlobalScale) {
          <span> (ignore)</span>
        }
      }
    </div>
  }
  <br />
  <strong>Total: {{ sumPoints() }} points</strong>
</div>
