<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <!--<i class="pi pi-lock" style="font-size: 3rem"></i>-->
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [responsiveOptions]="responsiveOptions2"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [baseZIndex]="100000"
    [showThumbnails]="false"
    [containerStyle]="{ 'max-height': '90vh' }"
  >
    <ng-template pTemplate="item" let-item>
      <div
        class="grid grid-nogutter justify-content-center"
        style="overflow-x: hidden; overflow-y: scroll; border: #000000 1px solid; height: 96vh; width: 90vw"
      >
        <img [src]="item.src" style="display: block" />
      </div>
    </ng-template>
  </p-galleria>

  <div class="col-12">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">
          <span [translate]="'scanexam.votrecopie'">Votre copie :</span>
          <span *ngFor="let st of selectionStudents"> {{ st.name }} {{ st.firstname }}</span> (<span translate="scanexam.note1"
            >Note :</span
          >
          {{ note | async | number: '1.2-2' }})
        </h2>
      </div>
      <div class="col-4 flex flex-row-reverse"></div>
    </div>
    <div class="grid grid-nogutter" style="padding-bottom: 1rem; padding-top: 1rem">
      <div class="col-1 sm:col-1 md:col-1 lg:col-1 xl:col-1">
        <div class="d-flex justify-content-center">
          <button
            pButton
            (click)="showGalleria()"
            [translate]="'scanexam.showgalleria'"
            [pTooltip]="'scanexam.showFullPageTooltip' | translate"
            [tooltipPosition]="'bottom'"
          >
            Voir page complète
          </button>
        </div>
      </div>
      <div class="col-10 sm:col-10 md:col-10 lg:col-10 xl:col-10">
        <div class="d-flex justify-content-center">
          <p-paginator
            [currentPageReportTemplate]="'scanexam.currentpagetemplate' | translate"
            [rows]="1"
            [first]="questionindex"
            [totalRecords]="nbreQuestions!"
            (onPageChange)="changeQuestion($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
          ></p-paginator>
        </div>
      </div>
      <div class="col-1 sm:col-1 md:col-1 lg:col-1 xl:col-1">
        <div class="d-flex justify-content-center"></div>
      </div>
    </div>
    <div class="grid grid-nogutter" style="padding-bottom: 1rem; padding-top: 1rem">
      <div class="col-12 sm:col-12 md:col-12 lg:col-9 xl:col-10">
        <div class="d-flex justify-content-center">
          <h2
            *ngIf="
              questionNumeros.length > questionindex &&
              questions !== undefined &&
              questions!.length > 0 &&
              questions![0].libelle !== undefined &&
              questions![0].libelle !== ''
            "
          >
            {{ questions![0].libelle }}
          </h2>
          <h2
            *ngIf="
              questionNumeros.length > questionindex &&
              questions !== undefined &&
              questions!.length > 0 &&
              (questions![0].libelle === undefined || questions![0].libelle === '')
            "
          >
            <span translate="scanexam.question1">Question </span>{{ questionNumeros[questionindex] }}
          </h2>
        </div>
        <div class="d-flex justify-content-center" *ngFor="let k of questions; let i = index">
          <div>
            <canvas [hidden]="!showImage[i]" #nomImage></canvas>
          </div>
        </div>
        <div style="padding-top: 1rem; padding-bottom: 1rem"></div>
        <div class="d-flex justify-content-center">
          <span [translate]="'scanexam.showsample'"> Voir des exemples de solutions correctes pour cette question :</span>&nbsp;<span
            *ngFor="let item of bestSolutions; let index = index"
            ><a target="_blank" [routerLink]="item">{{ index + 1 }}</a> <span *ngIf="index !== bestSolutions.length - 1">, </span></span
          >
          <span *ngIf="bestSolutions.length === 0" [translate]="'scanexam.nogoodsolution'">Aucune bonne solution identifiée</span>
        </div>
        <div class="d-flex justify-content-center">
          <a *ngIf="email !== ''" target="_blank" [href]="email" [translate]="'scanexam.echangemail'"
            >Echange avec l'équipe pédagogique suite à une incompréhension de la correction</a
          >
        </div>
        <div style="padding-top: 1rem; padding-bottom: 1rem"></div>
        <div *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']" class="d-flex justify-content-center">
          <a
            *ngIf="correctionLink"
            target="_blank"
            [routerLink]="correctionLink"
            [translate]="'scanexam.gotoCorrection'"
            [pTooltip]="'scanexam.gotoCorrectionTooltipView' | translate"
            >Aller à la vue correction</a
          >
        </div>
      </div>

      <div class="col-12 sm:col-12 md:col-12 lg:col-3 xl:col-2">
        <div class="grid grid-nogutter">
          <div style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <span [translate]="'scanexam.noteattribuee'">Note attribuée :</span>
            <span
              *ngIf="
                questionStep > 0 &&
                questions &&
                questions.length > 0 &&
                (questions[0].gradeType !== 'HYBRID' || questions[0].typeAlgoName === 'QCM') &&
                resp
              "
              >{{ currentNote / questionStep }}</span
            >
            <span
              *ngIf="
                questionStep <= 0 &&
                questions &&
                questions.length > 0 &&
                (questions[0].gradeType !== 'HYBRID' || questions[0].typeAlgoName === 'QCM') &&
                resp
              "
              >{{ currentNote }}</span
            >
            <span
              *ngIf="
                questions && questions.length > 0 && questions[0].gradeType === 'HYBRID' && questions[0].typeAlgoName !== 'QCM' && resp
              "
              >{{ resp!.note! / 100 | number: '1.0-2' }}</span
            >
            <span *ngIf="questions && questions.length > 0 && resp"> / {{ questions[0].point }} </span>
            <span *ngIf="resp === undefined" [translate]="'scanexam.noneval'">Non évalué</span>

            <!--  <p-button icon="pi pi-refresh"></p-button>-->
          </div>
          <div style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <label [translate]="'scanexam.removealignement'">Supprimer alignement: </label>
            <p-toggleSwitch [(ngModel)]="noalign" (onChange)="changeAlign()"></p-toggleSwitch>
          </div>
          <div style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <label [translate]="'scanexam.zoomfactor'">Facteur agrandissement: </label>
            <p-slider *ngIf="noteSteps > 0" [(ngModel)]="factor" [min]="1" [max]="2" [step]="0.1" (onChange)="reloadImage()"> </p-slider>
          </div>

          <div class="grid" *ngIf="currentQuestion && currentQuestion?.gradeType === 'DIRECT' && currentQuestion?.typeAlgoName !== 'QCM'">
            <div *ngFor="let comment of currentTextComment4Question | sort: 'checked'" class="sm:col-3 md:col-3 lg:col-12 xl:col-12">
              <div class="card" [style]="getStyle(comment)">
                <div class="card-body">
                  <h5 class="card-title">{{ comment.text }}</h5>
                  <p class="card-text">{{ comment.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              (currentQuestion && currentQuestion?.gradeType !== 'DIRECT' && currentQuestion?.gradeType !== 'HYBRID') ||
              currentQuestion?.typeAlgoName === 'QCM'
            "
          >
            <div *ngFor="let comment of currentGradedComment4Question | sort: 'checked'" class="card" [style]="getStyle(comment)">
              <div class="card-body">
                <h5 class="card-title">{{ comment.text }}</h5>
                <p class="card-text">{{ comment.description }}</p>
                <p
                  class="card-text"
                  *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT' && currentQuestion?.typeAlgoName !== 'QCM'"
                >
                  <span [translate]="'scanexam.noteassociecomment'"> Note associée à ce commentaire :</span>
                  <span *ngIf="currentQuestion && currentQuestion?.gradeType === 'NEGATIVE'"> - </span
                  ><span *ngIf="currentQuestion && currentQuestion?.gradeType === 'POSITIVE'"> + </span>
                  <span *ngIf="questionStep > 0">{{ comment.grade! / questionStep }}</span>
                  <span *ngIf="questionStep <= 0">{{ comment.grade! }}</span>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="(currentQuestion && currentQuestion?.gradeType === 'HYBRID') || currentQuestion?.typeAlgoName !== 'QCM'">
            <div *ngFor="let comment of currentHybridGradedComment4Question" class="card">
              <div class="card-body">
                <h5 class="card-title">{{ comment.text }}</h5>
                <p class="card-text">{{ comment.description }}</p>
                <p *ngIf="comment.step && comment.step === 1">
                  <span *ngIf="comment.grade !== null && comment.grade !== undefined && comment.grade >= 0"> +</span> {{ comment.grade }}
                  <span *ngIf="!comment.relative"> pt</span> <span *ngIf="comment.relative"> %</span>
                </p>
                <p *ngIf="comment.step && comment.step > 1">
                  <span *ngIf="comment.grade !== null && comment.grade !== undefined && comment.grade >= 0"> +</span>
                  {{ (comment.grade! * comment.stepValue!) / comment.step! | number: '0.0-2' }} <span *ngIf="!comment.relative"> pt</span>
                  <span *ngIf="comment.relative"> %</span>
                  <BR />
                  <span
                    [translate]="'scanexam.hybridcommentStepCalcul'"
                    [pTooltip]="'scanexam.hybridcommentStepCalculTooltip' | translate"
                  ></span>
                  :
                  <span
                    [translate]="'scanexam.hybridcommentStepCalculResult'"
                    [translateParams]="{
                      stepValue: comment.stepValue,
                      step: comment.step,
                      grade: comment.grade,
                      ptsorprcts: comment.relative ? '%' : 'pt',
                    }"
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
