<p-pickList
  [source]="list1"
  [target]="list2"
  [responsive]="true"
  [dragdrop]="true"
  [showSourceControls]="false"
  [showTargetControls]="false"
  showSourceFilter="true"
  [filterBy]="'login,firstname,name'"
  [stripedRows]="true"
  (onMoveToTarget)="moveToTarget($event)"
  (onMoveToSource)="moveToSource($event)"
  (onMoveAllToTarget)="moveToTarget($event)"
  (onMoveAllToSource)="moveToSource($event)"
>
  <ng-template pTemplate="sourceHeader">
    <span style="font-weight: bold" [jhiTranslate]="'scanexam.profdispo'"> </span>
  </ng-template>
  <ng-template pTemplate="targetHeader">
    <span style="font-weight: bold" [jhiTranslate]="'scanexam.profshared'"> </span>
  </ng-template>
  <ng-template let-user pTemplate="item">
    <div>
      {{ user.login }} (<span *ngIf="user.name">{{ user.name }}</span> <span *ngIf="user.firstname">{{ user.firstname }}</span
      >)
    </div>
  </ng-template>
</p-pickList>
