<p-pickList
  [source]="list1"
  [target]="list2"
  [responsive]="true"
  [sourceHeader]="'scanexam.profdispo' | translate"
  [targetHeader]="'scanexam.profshared' | translate"
  [dragdrop]="true"
  [showSourceControls]="false"
  [sho
  [stripedRows]="true"
  (onMoveToTarget)="moveToTarget($event)"
  (onMoveToSource)="moveToSource($event)"
  (onMoveAllToTarget)="moveToTarget($event)"
  (onMoveAllToSource)="moveToSource($event)"
>
  <ng-template let-user pTemplate="item">
    <div>
      {{ user.login }} (<span *ngIf="user.name">{{ user.name }}</span> <span *ngIf="user.firstname">{{ user.firstname }}</span
      >)
    </div>
  </ng-template>
</p-pickList>
