<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gradedComment">
      <h2 data-cy="gradedCommentDetailsHeading">
        <span jhiTranslate="gradeScopeIsticApp.gradedComment.detail.title">Graded Comment</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gradedComment.id }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.gradedComment.zonegeneratedid">Zonegeneratedid</span></dt>
        <dd>
          <span>{{ gradedComment.zonegeneratedid }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.gradedComment.text">Text</span></dt>
        <dd>
          <span>{{ gradedComment.text }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.gradedComment.grade">Grade</span></dt>
        <dd>
          <span>{{ gradedComment.grade }}</span>
        </dd>
        <dt><span jhiTranslate="gradeScopeIsticApp.gradedComment.question">Question</span></dt>
        <dd>
          <div *ngIf="gradedComment.questionId">
            <a [routerLink]="['/question', gradedComment.questionId, 'view']">{{ gradedComment.questionId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/graded-comment', gradedComment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
