<p-dialog [header]="'scanexam.firsthelpTitle' | translate" [(visible)]="firsthelp" [style]="{ width: '90vw' }">
  <div style="display: flex; justify-content: space-around">
    <span [translate]="'scanexam.firsthelpcoursedetail'"></span>
  </div>
  <BR />
  <BR />
  <div style="display: flex; justify-content: flex-end; margin-right: 1rem">
    <span [translate]="'scanexam.shortcutopenatstart'"></span>&nbsp;
    <input type="checkbox" [(ngModel)]="firsthelpvalue" (change)="changeStartPreference()" />
  </div>
  <ng-template pTemplate="footer">
    <button type="button" pButton label="ok" (click)="firsthelp = false"></button>
  </ng-template>
</p-dialog>

<div>
  <p-dock [styleClass]="'pdock'" [model]="dockItems" position="top">
    <ng-template pTemplate="item" let-item>
      <a *ngIf="item.route" [routerLink]="item.route"
        ><img
          [src]="item.icon"
          [alt]="item.label"
          class="imageDock"
          [tooltipZIndex]="'3000'"
          [pTooltip]="item.title"
          [appendTo]="'body'"
          [tooltipPosition]="'top'"
      /></a>
      <a *ngIf="item.command1" (click)="item.command1()"
        ><img
          [src]="item.icon"
          [alt]="item.label"
          class="imageDock"
          [tooltipZIndex]="'3000'"
          [pTooltip]="item.title"
          [tooltipPosition]="'top'"
      /></a>
    </ng-template>
  </p-dock>
  <p-confirmDialog
    [header]="'scanexam.confirmremove' | translate"
    icon="pi pi-exclamation-triangle"
    [acceptLabel]="'scanexam.yes' | translate"
    [rejectLabel]="'scanexam.no' | translate"
  ></p-confirmDialog>
  <div class="wizard-v2-content">
    <p-blockUI [blocked]="blocked">
      <div class="grid" style="width: 90vw">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <!--<i class="pi pi-lock" style="font-size: 3rem"> </i>-->
          <p-progressSpinner></p-progressSpinner>

          <BR />
          <div *ngIf="message !== undefined && message.length > 0">{{ message }} <BR /></div>
        </div>
        <div class="col-4"></div>
      </div>
    </p-blockUI>

    <div class="wizard-image"></div>
    <div class="wizard-form" style="padding-top: 4rem">
      <p-drawer [position]="'right'" [(visible)]="layoutsidebarVisible">
        <div class="grid">
          <div class="sm:col-6 md:col-6 lg:col-12 xl:col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" [translate]="'scanexam.courseexport'">Export</h5>

                <div class="card-text">
                  <label
                    for="switch1"
                    [translate]="'scanexam.studentdata'"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.studentdatatooltip' | translate"
                    >données étudiantes:</label
                  >
                  <p-toggleSwitch inputId="switch1" [(ngModel)]="includeStudentsData"></p-toggleSwitch>

                  <div class="flex align-content-center flex-wrap card-container">
                    <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2">
                      <button
                        class="p-button p-button-primary"
                        (click)="exportCourse()"
                        [pTooltip]="'scanexam.courseexporttooltip' | translate"
                        [tooltipZIndex]="'3000'"
                        [translate]="'scanexam.courseexport'"
                      >
                        Export
                      </button>
                    </div>
                    <ng-container *ngIf="exams !== undefined && exams !== null && exams.length > 1">
                      <div
                        *ngFor="let exam of exams"
                        class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2"
                      >
                        <button
                          class="p-button p-button-primary"
                          (click)="exportExam(exam.id!)"
                          [pTooltip]="'scanexam.exportexamtooltip' | translate"
                          [tooltipZIndex]="'3000'"
                          [translate]="'scanexam.examexport'"
                          [translateParams]="{ examName: exam.name }"
                        >
                          Export {{ exam.name }}
                        </button>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-drawer>
      <div class="wizard-header">
        <jhi-usable-text-input
          [name]="this.course?.name ?? ''"
          [tooltip]="'scanexam.tooltipeditcoursename' | translate"
          [placeholder]="'scanexam.placeholdereditcoursename' | translate"
          (newValue)="onCourseNameChanged($event)"
        >
        </jhi-usable-text-input>
        <p [translate]="'scanexam.slogan'">Vos exams accessibles en un clic</p>
      </div>
      <div id="form-total" #formTotal>
        <div class="inner" [style]="{ 'text-align': 'center' }">
          <button
            *ngFor="let exam of exams"
            [style]="{ marginBottom: '1em', margin: '1em' }"
            class="p-element p-ripple button80"
            pButton
            pRipple
            type="button"
            [routerLink]="'/exam/' + exam.id"
          >
            <fa-stack>
              <fa-icon [icon]="farCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBookOpenReader" stackItemSize="1x" [inverse]="false"></fa-icon> </fa-stack
            ><BR />
            <span>{{ exam.name }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
