<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-template-heading" data-cy="TemplateCreateUpdateHeading" jhiTranslate="gradeScopeIsticApp.template.home.createOrEditLabel">
        Create or edit a Template
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input
            type="number"
            (mouseup)="$event.stopPropagation()"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.template.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.template.content" for="field_content">Content</label>
          <div>
            <div *ngIf="editForm.get('content')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('content')!.value, editForm.get('contentContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('contentContentType')!.value }}, {{ byteSize(editForm.get('content')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ content: null }); editForm.patchValue({ contentContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_content"
              data-cy="content"
              (change)="setFileData($event, 'content', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
          <input
            type="hidden"
            class="form-control"
            name="contentContentType"
            id="field_contentContentType"
            formControlName="contentContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.template.mark" for="field_mark">Mark</label>
          <input type="checkbox" class="form-check" name="mark" id="field_mark" data-cy="mark" formControlName="mark" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.template.autoMapStudentCopyToList" for="field_autoMapStudentCopyToList"
            >Auto Map Student Copy To List</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="autoMapStudentCopyToList"
            id="field_autoMapStudentCopyToList"
            data-cy="autoMapStudentCopyToList"
            formControlName="autoMapStudentCopyToList"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
