<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-student-response-heading"
        data-cy="StudentResponseCreateUpdateHeading"
        jhiTranslate="gradeScopeIsticApp.studentResponse.home.createOrEditLabel"
      >
        Create or edit a Student Response
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.studentResponse.note" for="field_note">Note</label>
          <input type="number" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.studentResponse.star" for="field_star">Star</label>
          <input type="checkbox" class="form-check" name="star" id="field_star" data-cy="star" formControlName="star" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.studentResponse.question" for="field_question">Question</label>
          <select class="form-control" id="field_question" name="question" formControlName="questionId">
            <option [ngValue]="null"></option>
            <option [ngValue]="questionOption.id" *ngFor="let questionOption of questions; trackBy: trackById">
              {{ questionOption.numero }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gradeScopeIsticApp.studentResponse.sheet" for="field_sheet">Student Sheet</label>
          <select class="form-control" id="field_sheet" name="sheet" formControlName="sheetId">
            <option [ngValue]="null"></option>
            <option [ngValue]="sheetOption.id" *ngFor="let sheetOption of sheets; trackBy: trackById">{{ sheetOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
