<div class="grid justify-center">
  <p-blockUI [blocked]="blocked">
    <!--    <i class="pi pi-lock" style="font-size: 3rem"></i>-->
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <div class="col-8">
    <p-button
      class="sm:text-xs md:text-xs lg:text-base"
      styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
      (click)="layoutsidebarVisible = true"
      icon="pi pi-cog"
      [tooltipPosition]="'bottom'"
      [pTooltip]="'scanexam.showLayoutOptionsCompareTooltip' | translate"
      [tooltipZIndex]="'3000'"
    ></p-button>
  </div>
  <div class="col-4 flex flex-row-reverse">
    <button
      pButton
      [disabled]="!this.examId || getCurrentNavigationId() === 1"
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="p-button-primary"
      (click)="goBack()"
      [tooltipPosition]="'bottom'"
      [pTooltip]="'scanexam.gotoCorrectionTooltip' | translate"
      [tooltipZIndex]="'3000'"
    >
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'scanexam.gobackcorrection'">Retourner à la correction</span>
    </button>
    <button
      pButton
      [disabled]="!this.examId || qId === undefined"
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="p-button-primary"
      (click)="downloadAllHighQuality()"
      [tooltipPosition]="'bottom'"
      [pTooltip]="'scanexam.downloadAllTooltip' | translate"
      [tooltipZIndex]="'3000'"
    >
      <fa-icon icon="download"></fa-icon>&nbsp;<span [translate]="'scanexam.downloadimages'">Download</span>
    </button>
    @if (questionall) {
      <button
        pButton
        [disabled]="!this.examId"
        type="submit"
        id="classify-entity"
        data-cy="entityCreateSaveButton"
        class="p-button-primary"
        (click)="classifyAll()"
        [pTooltip]="'scanexam.classifytooltip' | translate"
        [tooltipPosition]="'bottom'"
        [tooltipZIndex]="'3000'"
      >
        <fa-icon icon="circle-nodes"></fa-icon>&nbsp;<span [translate]="'scanexam.classify'">Classify</span>
      </button>
    }
    @if (questionall) {
      <button
        pButton
        [disabled]="!this.examId"
        type="submit"
        id="classify-entity"
        data-cy="entityCreateSaveButton"
        class="p-button-primary"
        (click)="unclassifyAll()"
        [pTooltip]="'scanexam.unclassifytooltip' | translate"
        [tooltipPosition]="'bottom'"
        [tooltipZIndex]="'3000'"
      >
        <fa-icon icon="object-ungroup"></fa-icon>&nbsp;<span [translate]="'scanexam.unclassify'">Unclassify</span>
      </button>
    }
  </div>
  <p-drawer [(visible)]="layoutsidebarVisible">
    @if (questionall) {
      <h3 [translate]="'scanexam.kmeanoptions'">Kmean options</h3>
    }
    @if (questionall) {
      <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <label><span [translate]="'scanexam.nbreCluster'"> Nombre de cluster : </span>({{ nbreCluster }})</label>
        <p-slider
          [ngModel]="nbreCluster"
          [min]="2"
          [max]="15"
          [step]="1"
          (onChange)="updateNbrCluster($event)"
          [pTooltip]="'scanexam.nbreClusterTooltip' | translate"
          [tooltipPosition]="'bottom'"
          [tooltipZIndex]="'3000'"
        >
        </p-slider>
      </div>
    }
    @if (questionall) {
      <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <div class="flex flex-column gap-3">
          <label for=""><span [translate]="'scanexam.algoClustering'"> Algo de clustering : </span></label>
          @for (algo of algos; track algo) {
            <div class="field-checkbox">
              <p-radioButton
                [inputId]="algo.key"
                name="algo"
                [value]="algo"
                [(ngModel)]="selectedAlgo"
                (onClick)="updateAlgoCluster($event)"
              ></p-radioButton>
              <label [for]="algo" class="ml-2"><span [translate]="algo.trans" [pTooltip]="algo.transTooltip | translate"></span></label>
            </div>
          }
        </div>
      </div>
    }
    <h3 [translate]="'scanexam.layoutoptions'">Layout options</h3>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span [translate]="'scanexam.nbreImagePerLigne'"> Nombre de tuiles affichées par ligne : </span>({{ nbreColumn }})</label>
      <p-selectButton
        [options]="nbreColumnOptions"
        [ngModel]="nbreColumn"
        optionLabel="name"
        optionValue="value"
        (onChange)="updateColumnEvent($event)"
      >
      </p-selectButton>
    </div>
  </p-drawer>
  <ng-container>
    @for (k of zones4comments?.answers; track k; let i = $index) {
      @for (z of zones4comments?.zones; track z; let j = $index) {
        <canvas style="display: none" alt="Image 1" #nomImage></canvas>
      }
    }
  </ng-container>
</div>
<div #pnl class="grid justify-center">
  @for (k of clusters | keyvalue; track k) {
    @if (clusters.size > 1) {
      <div class="md:col-12 col-12">
        <h1>Cluster {{ k.key }}</h1>
        @if (questionall) {
          <button
            pButton
            [disabled]="!this.examId"
            type="submit"
            id="classify-entity"
            data-cy="entityCreateSaveButton"
            class="p-button-primary"
            (click)="applySameGradeAndComment4Cluster(k)"
            [pTooltip]="'scanexam.applysamegradetooltip' | translate"
          >
            <fa-icon icon="object-ungroup"></fa-icon>&nbsp;<span [translate]="'scanexam.applysamegrade'">Appliquer la même note</span>
          </button>
        }
      </div>
    }
    @if (k.value.length === 0) {
      <div [ngClass]="colonneStyle">
        <div class="card" [style]="'width: 100%;height: 100%;position: static;'" pDroppable (onDrop)="dropVoid(k.key)">
          <div class="card-container yellow-container overflow-hidden">
            <div class="flex flex-column">
              <canvas></canvas>
            </div>
            <div class="card-content"></div>
          </div>
        </div>
      </div>
    }
    @for (value of k.value; track value) {
      <div [ngClass]="colonneStyle">
        <div
          class="card"
          [style]="'width: 100%;height: 100%;position: static;'"
          pDraggable
          pDroppable
          (onDragStart)="dragStart(value)"
          (onDragEnd)="dragEnd()"
          (onDrop)="drop(value)"
        >
          <div
            class="card-container yellow-container overflow-hidden"
            (click)="goToCopie($event, (zones4comments?.answers)![value].pagemin, (zones4comments?.answers)![value].pagemax)"
          >
            <div class="flex flex-column">
              @for (z of zones4comments?.zones; track z; let j = $index) {
                <div>
                  <canvas [id]="'canvas ' + value" #nomImageVisible></canvas>
                </div>
              }
            </div>
            <div class="card-content">
              @if (!pointisNan((zones4comments?.answers)![value], zones4comments)) {
                <p>
                  Note:
                  @if (zones4comments !== undefined && zones4comments.step > 0 && zones4comments.gradeType !== 'HYBRID') {
                    <span
                      ><b>{{ zones4comments.answers![value].note / zones4comments.step }}/{{ zones4comments.point }}</b></span
                    >
                  }
                  @if (zones4comments !== undefined && zones4comments.step <= 0 && zones4comments.gradeType != 'HYBRID') {
                    <span>
                      @if (zones4comments.point !== 0) {
                        <b>{{ zones4comments.answers![value].note }}/{{ zones4comments.point }}</b>
                      }
                    </span>
                  }
                  @if (zones4comments !== undefined && zones4comments.gradeType === 'HYBRID') {
                    <span>
                      @if (zones4comments.point !== 0) {
                        <b>{{ zones4comments.answers![value].note / 100 | number: '1.0-2' }}/{{ zones4comments.point }}</b>
                      }
                    </span>
                  }
                </p>
              }
              @for (item of getGradedComments((zones4comments?.answers)![value]); track item; let index = $index) {
                <p>
                  Commentaire {{ index + 1 }}:
                  <b
                    >{{ item.text }}
                    @if (item.grade && zones4comments !== undefined && zones4comments.algoName !== 'QCM') {
                      <span
                        >(
                        @if (zones4comments.gradeType === 'NEGATIVE') {
                          <span>-</span>
                        }
                        {{ item.grade! / zones4comments.step! }}pt)</span
                      >
                    }
                  </b>
                </p>
              }
              @for (item of getHybridGradedComments((zones4comments?.answers)![value]); track item; let index = $index) {
                <p>
                  Commentaire {{ index + 1 }}:
                  <b
                    >{{ item.text }}
                    @if (item.step && item.step > 1) {
                      <span>({{ getHybridGradedCommentsValue((zones4comments?.answers)![value], item) }} / {{ item?.step }})</span>
                    }
                    @if (item.grade && zones4comments !== undefined && zones4comments.algoName !== 'QCM') {
                      <span
                        >(
                        @if (item.grade > 0) {
                          <span>+ </span>
                        }
                        {{ item.grade! | number: '1.0-2' }}
                        @if (item.relative) {
                          <span>%</span>
                        }
                        @if (!item.relative) {
                          <span> pt</span>
                        }
                        )</span
                      >
                    }
                  </b>
                </p>
              }
              @for (item of getTextComments((zones4comments?.answers)![value]); track item; let index = $index) {
                <p>
                  Commentaire{{ index + 1 }}: <b>{{ item.text }}</b>
                </p>
              }
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
