<div class="grid justify-center">
  <div class="col-8">
    <p-button
      *ngIf="questionall"
      class="sm:text-xs md:text-xs lg:text-base"
      styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
      (click)="layoutsidebarVisible = true"
      icon="pi pi-arrow-right"
    ></p-button>
  </div>
  <div class="col-4 flex flex-row-reverse">
    <button
      [disabled]="!this.examId"
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="p-button p-button-primary"
      (click)="goBack()"
    >
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackcorrection">Retourner à la correction</span>
    </button>
    <button
      [disabled]="!this.examId"
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="p-button p-button-primary"
      (click)="downloadAll()"
    >
      <fa-icon icon="download"></fa-icon>&nbsp;<span jhiTranslate="scanexam.downloadimages">Download</span>
    </button>
    <button
      *ngIf="questionall"
      [disabled]="!this.examId"
      type="submit"
      id="classify-entity"
      data-cy="entityCreateSaveButton"
      class="p-button p-button-primary"
      (click)="classifyAll()"
      [pTooltip]="'scanexam.classifytooltip' | translate"
    >
      <fa-icon icon="circle-nodes"></fa-icon>&nbsp;<span jhiTranslate="scanexam.classify">Classify</span>
    </button>
  </div>
  <p-sidebar [(visible)]="layoutsidebarVisible">
    <h3 jhiTranslate="scanexam.kmeanoptions">Kmean options</h3>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span jhiTranslate="scanexam.nbreCluster"> Nombre de cluster : </span>({{ nbreCluster }})</label>
      <p-slider [(ngModel)]="nbreCluster" [min]="2" [max]="15" [step]="1"> </p-slider>
    </div>
  </p-sidebar>
  <ng-container>
    <ng-container *ngFor="let k of zones4comments?.answers; let i = index">
      <ng-container *ngFor="let z of zones4comments?.zones; let j = index">
        <canvas style="display: none" alt="Image 1" #nomImage></canvas>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container>
    <div class="grid" *ngFor="let cluster of clusters">
      <div *ngIf="clusters.length > 1" class="col-12">
        <h1>Cluster {{ cluster }}</h1>
      </div>
      <ng-container *ngFor="let k of zones4comments?.answers; let i = index">
        <div class="col-12 md:col-6" *ngIf="imageInCluster[i] === cluster">
          <div class="card" [style]="'width: 100%;height: 100%;'">
            <div class="card-container yellow-container overflow-hidden">
              <div class="flex flex-column">
                <div *ngFor="let z of zones4comments?.zones; let j = index">
                  <canvas
                    [id]="'canvas' + i"
                    [hidden]="!showImageVisible[i]"
                    (click)="goToCopie(k.pagemin, k.pagemax)"
                    alt="Image 1"
                    #nomImageVisible
                  ></canvas>
                </div>
              </div>
              <div class="card-content">
                <p *ngIf="!pointisNan(k, zones4comments)">
                  Note:
                  <span *ngIf="zones4comments !== undefined && zones4comments.step > 0"
                    ><b>{{ k.note / zones4comments.step }}/{{ zones4comments.point }}</b></span
                  >
                  <span *ngIf="zones4comments !== undefined && zones4comments.step <= 0"
                    ><b *ngIf="zones4comments.point !== 0">{{ k.note }}/{{ zones4comments.point }}</b></span
                  >
                </p>
                <p *ngFor="let item of getGradedComments(k); let index = index">
                  Commentaire {{ index + 1 }}:
                  <b
                    >{{ item.text }}
                    <span *ngIf="item.grade && zones4comments !== undefined && zones4comments?.algoName !== 'QCM'"
                      >( <span *ngIf="zones4comments?.gradeType === 'NEGATIVE'">-</span> {{ item.grade! / zones4comments.step! }}pt)</span
                    >
                  </b>
                </p>
                <p *ngFor="let item of getTextComments(k); let index = index">
                  Commentaire{{ index + 1 }}: <b>{{ item.text }}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!--<ng-container   *ngIf="imageInCluster.length >0" >
  <div class="grid" *ngFor="let cluster of clusters">
    <div *ngIf="clusters.length>1" class="col-12">
      <h1 > Cluster {{cluster}} </h1>
    </div>
    <ng-container   *ngFor="let k of zones4comments?.answers; let i = index">

    <div class="col-12 md:col-6"  *ngIf="imageInCluster.length ===0 || imageInCluster[i]===cluster">


    <div class="card" [style]="'width: 100%;height: 100%;'">
      <div class="card-container yellow-container overflow-hidden">
        <div class="flex flex-column">
          <div *ngFor="let z of zones4comments?.zones; let j = index">
            <canvas (click)="goToCopie(k.pagemin, k.pagemax)" alt="Image 1" #nomImageClassify></canvas>
          </div>
        </div>
        <div class="card-content">
          <p *ngIf="!pointisNan(k, zones4comments)">
            Note:
            <span *ngIf="zones4comments !== undefined && zones4comments.step > 0"
              ><b>{{ k.note / zones4comments.step }}/{{ zones4comments.point }}</b></span
            >
            <span *ngIf="zones4comments !== undefined && zones4comments.step <= 0"
              ><b *ngIf="zones4comments.point !== 0">{{ k.note }}/{{ zones4comments.point }}</b></span
            >
          </p>
          <p *ngFor="let item of getGradedComments(k); let index = index">
            Commentaire {{ index + 1 }}:
            <b
              >{{ item.text }}
              <span *ngIf="item.grade && zones4comments !== undefined && zones4comments?.algoName !== 'QCM'"
                >( <span *ngIf="zones4comments?.gradeType === 'NEGATIVE'">-</span> {{ item.grade! / zones4comments.step! }}pt)</span
              >
            </b>
          </p>
          <p *ngFor="let item of getTextComments(k); let index = index">
            Commentaire{{ index + 1 }}: <b>{{ item.text }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

</div>
</ng-container>-->
</div>
