<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <div class="sm:col-12 md:col-12 lg:col-8 xl:col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.liststudents">Liste étudiants</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [routerLink]="'/exam/' + examid"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackexam">Retourner à l'examen</span>
        </button>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <p-table [value]="questions">
        <ng-template pTemplate="header">
          <tr>
            <th jhiTranslate="scanexam.numeroquestion">Numéro de question</th>
            <th jhiTranslate="scanexam.goodanswers">Réponses marquées comme excellentes</th>
            <th jhiTranslate="scanexam.badanswers">Réponses contenant une erreur représentatives</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question>
          <tr>
            <td>
              {{ question.numero }}
            </td>
            <td>
              <span *ngFor="let item of question.bestSolutions; let index = index"
                ><a target="_blank" [routerLink]="item">{{ index + 1 }}</a>
                <span *ngIf="index !== question.bestSolutions.length - 1">, </span></span
              >
              <span *ngIf="question.bestSolutions.length === 0" jhiTranslate="scanexam.nogoodsolution">
                Aucune bonne réponse identifiée</span
              >
            </td>
            <td>
              <span *ngFor="let item of question.worstSolutions; let index = index"
                ><a target="_blank" [routerLink]="item">{{ index + 1 }}</a>
                <span *ngIf="index !== question.worstSolutions.length - 1">, </span></span
              >
              <span *ngIf="question.worstSolutions.length === 0" jhiTranslate="scanexam.nobadsolution">
                Aucune mauvaise réponse identifiée</span
              >
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="lg:col-4 xl:col-4 overflow-hidden sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
