<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <div class="col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">Créer un examen pour le cours {{ coursName }}</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retourner au module</span>
        </button>
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="downloadTemplateWord()"
        >
          <fa-icon [icon]="faDownload"></fa-icon>&nbsp;<span>Modèle de sujet Word</span>
        </button>
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="downloadTemplateOdt()"
        >
          <fa-icon [icon]="faDownload"></fa-icon>&nbsp;<span>Modèle de sujet LibreOffice</span>
        </button>
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="downloadTemplateLatex()"
        >
          <fa-icon [icon]="faDownload"></fa-icon>&nbsp;<span>Modèle de sujet LaTeX</span>
        </button>
      </div>
    </div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="col-12 md:col-12">
        <div class="row">
          <label class="form-label col-2" jhiTranslate="gradeScopeIsticApp.exam.name" for="field_name">Name</label>
          <input type="text" class="form-control col-6" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div class="col-2" *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row">
          <label class="form-label col-2" for="field_content">Enoncé de l'examen :</label>
          <div class="col-6">
            <div *ngIf="editForm.get('content')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('content')!.value, editForm.get('contentContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('contentContentType')!.value }}, {{ byteSize(editForm.get('content')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ content: null }); editForm.patchValue({ contentContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_content"
              data-cy="content"
              (change)="setFileData($event, 'content', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
          <input
            type="hidden"
            class="form-control"
            name="contentContentType"
            id="field_contentContentType"
            formControlName="contentContentType"
          />
        </div>
        <div class="row">
          <label class="form-label col-4" jhiTranslate="gradeScopeIsticApp.template.mark" for="field_mark">Mark</label>
          <input type="checkbox" class="form-check col-1" name="mark" id="field_mark" data-cy="mark" formControlName="mark" />
        </div>

        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="gotoUE()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="p-button p-button-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
  <div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
