<div *ngIf="account == null" class="grid grid-nogutter surface-section text-800">
  <div class="sm:col-12 md:col-12 lg:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1" jhiTranslate="home.titleu">Corriger vos copies plus efficacement ✔️</span>
      <div class="text-6xl text-primary font-bold mb-3" jhiTranslate="home.subtitleu">un retour à vos étudiants en moins d'une journée</div>
      <p class="mt-0 mb-4 text-700 line-height-3" jhiTranslate="home.slogan">
        Scanner, corriger par lots, soyez assisté par de l'IA, faites un retour précis à vos étudiants, depuis un PC ou une tablette
      </p>

      <ng-template [ngIf]="CONNECTION_METHOD === CONNECTION_METHOD_LOCAL">
        <div>
          <button (click)="login()" pbutton type="button" class="p-element mr-3 p-button p-component">
            <span class="p-button-label" jhiTranslate="home.login">Authentifiez vous</span><span class="p-ink"></span>
          </button>
          <button
            routerLink="account/register"
            pbutton=""
            pripple=""
            type="button"
            class="p-element p-ripple p-button-outlined p-button p-component mr-3"
          >
            <span class="p-button-label" jhiTranslate="home.register">Créer un compte</span><span class="p-ink"></span>
          </button>
        </div>
      </ng-template>

      <ng-template [ngIf]="CONNECTION_METHOD === CONNECTION_METHOD_SHIB">
        <div>
          <a href="/Shibboleth.sso/Login?target={{ SERVICE_URL }}/api/shib/redirection" class="p-element mr-3 p-button p-component">
            <span class="p-button-label" jhiTranslate="home.login">Authentifiez vous</span><span class="p-ink"></span>
          </a>
        </div>
      </ng-template>

      <ng-template [ngIf]="CONNECTION_METHOD === CONNECTION_METHOD_CAS">
        <div>
          <a href="{{ CAS_SERVER_URL }}/login?service={{ SERVICE_URL }}" class="p-element mr-3 p-button p-component">
            <span class="p-button-label" jhiTranslate="home.login">>Authentifiez vous</span><span class="p-ink"></span>
          </a>
        </div>
      </ng-template>
    </section>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 overflow-hidden sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
<div *jhiHasAnyAuthority="'ROLE_USER'">
  <div *ngIf="!this.account?.authorities?.includes('ROLE_ADMIN')">
    <p-dock [model]="dockItems" position="top" [styleClass]="'pdock'">
      <ng-template pTemplate="item" let-item>
        <a [routerLink]="item.route"
          ><img [src]="item.icon" [alt]="item.label" class="imageDock" [tooltipZIndex]="'3000'" [pTooltip]="item.title"
        /></a>
      </ng-template>
    </p-dock>
    <jhi-mes-cours [showImage]="true"></jhi-mes-cours>
  </div>
  <div *ngIf="this.account?.authorities?.includes('ROLE_ADMIN')" class="row">
    <div class="col-md-12">
      <h1 class="display-4"><span jhiTranslate="home.welcomeadmin">Bienvenue sur la page d'administration de cette application</span></h1>

      <p class="lead" jhiTranslate="home.welcomeadminsub">Vous pouvez accéder aux données depuis le menu entité</p>
      <p jhiTranslate="home.textadmin">Vous pouvez gérer les utilsiateurs et les services depuis le menu administration.</p>
      <jhi-mes-cours [showImage]="false"></jhi-mes-cours>
    </div>
  </div>
</div>
