<div *ngIf="account == null" class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Create the screens your</span>
      <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button pbutton="" pripple="" label="Learn More" type="button" class="p-element p-ripple mr-3 p-button-raised p-button p-component">
        <span class="p-button-label">Learn More</span><span class="p-ink"></span></button
      ><button pbutton="" pripple="" label="Live Demo" type="button" class="p-element p-ripple p-button-outlined p-button p-component">
        <span class="p-button-label">Live Demo</span><span class="p-ink"></span>
      </button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="/content/images/piqsels.com-id-frfkz.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
<div *ngIf="account != null">
  <p-dock [model]="dockItems" position="top">
    <ng-template pTemplate="item" let-item>
      <a [routerLink]="item.route"><img [src]="item.icon" [alt]="item.label" width="100%" [pTooltip]="item.title" /></a>
    </ng-template>
  </p-dock>


  <jhi-mes-cours></jhi-mes-cours>
</div>
