<div class="grid">
  <p-toast></p-toast>

  <p-blockUI [blocked]="blocked">
    <div class="grid" style="width: 90vw">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <p-progressSpinner></p-progressSpinner>
        <!--          <i class="pi pi-lock" style="font-size: 3rem"> </i>-->
        <BR />
        <div *ngIf="message() !== undefined && message().length > 0">
          {{ message() }} <BR />
          {{ submessage() }}
          <span *ngIf="submessage !== undefined && submessage.length > 0 && progress() !== -1">{{ progress() }} / 100</span>
          <BR />
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </p-blockUI>

  @if (!isSaving) {
    <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <div class="grid grid-nogutter">
        <div class="col-4">
          <h2
            id="jhi-course-heading"
            data-cy="CourseCreateUpdateHeading"
            [translate]="'scanexam.creeexamcours'"
            [translateParams]="{ coursName: coursName }"
          >
            Créer un examen pour le cours {{ coursName }}
          </h2>
        </div>
        <div class="col-8 flex flex-row-reverse">
          <button
            [disabled]="!this.courseid"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="p-button p-button-primary"
            (click)="gotoUE()"
          >
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'scanexam.gobackue'">Retourner au module</span>
          </button>
        </div>
      </div>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="col-12 md:col-12">
          <div class="row">
            <label class="form-label col-2" [translate]="'gradeScopeIsticApp.exam.name'" for="field_name">Name</label>
            <input type="text" class="form-control col-6" name="name" id="field_name" data-cy="name" formControlName="name" />
            <div class="col-2" *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('name')?.errors?.required"
                [translate]="'entity.validation.required'"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="row">
            <label class="form-label col-3" for="field_content" [translate]="'scanexam.enonceexamnbgrader'"></label>
            <div class="col-6">
              <div *ngIf="editForm.get('content')!.value" class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('content')!.value, editForm.get('contentContentType')!.value)"
                  [translate]="'entity.action.open'"
                  >open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('contentContentType')!.value }}, {{ byteSize(editForm.get('content')!.value) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ content: null }); editForm.patchValue({ contentContentType: null })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input
                type="file"
                accept=".zip"
                id="file_content"
                data-cy="content"
                (change)="setFileData($event, 'content', false)"
                [translate]="'entity.action.addblob'"
              />
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
            <input
              type="hidden"
              class="form-control"
              name="contentContentType"
              id="field_contentContentType"
              formControlName="contentContentType"
            />
          </div>
          <div *ngIf="fileToAnalyse.length > 0">
            <div class="row" *ngFor="let item of fileToAnalyse; index as i">
              <label *ngIf="i === 0" class="form-label col-2" [translate]="'scanexam.listfiletoanalyse'" for="field_name">Name</label>
              <span *ngIf="i !== 0" class="col-2"></span>
              <span class="col-10">{{ item }}</span>
            </div>
          </div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="gotoUE()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span [translate]="'entity.action.cancel'">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving || fileToAnalyse.length === 0"
            class="p-button p-button-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span [translate]="'entity.action.save'">Save</span>
          </button>
        </div>
      </form>
    </div>
  }
  <div id="body"></div>

  <!--<div class="lg:col-4 xl:col-4 overflow-hidden sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>-->
</div>
