.boutons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}
.boutons > a {
  text-decoration: none;
}
.card-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 1100px) {
  #statgen {
    order: 1;
  }
  #statsquestions {
    order: 2;
  }
  #selectstudent {
    order: 3;
  }
  .radar-container {
    width: 500px;
  }
  .card {
    // Taille par défaut de la carte
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  #statgen {
    order: 3;
  }
  .statgenerale {
    word-wrap: break-word;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #statsquestions {
    order: 2;
    max-width: 90%;
  }
  #selectstudent {
    order: 1;
  }
  .statsgenerales-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .radar-container {
    width: min-content;
  }
}

.card {
  height: 100%;
  padding: 5px;
  border: 0px;
  overflow: auto;
}
.statgenerale {
  padding: 0.5em;
  font-size: larger;
  font-weight: bold;
  color: gray;
}
.statgenerale > span {
  display: block;
  font-size: larger;
  color: black;
}
#selectstudent {
  width: max-content;
}
#statsquestions {
  width: max-content;
}

.header-radar {
  display: flex;
  justify-content: center;
}
.knobs {
  display: flex;
  gap: 10px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.knobQuestion {
  background-color: rgba(250, 247, 241, 1);
  padding: 10px;
  border-radius: 5px;
  width: max-content;
  white-space: nowrap;
}
.knobQuestion:hover {
  cursor: pointer;
}
.knobSelected {
  background-color: rgb(193, 202, 209);
}
.knobQuestion:hover {
  background-color: rgb(233, 245, 255);
}
.progbar-grade {
  color: lightgray;
  white-space: nowrap;
}
.progbar {
  background-color: #dee2e6;
}
.progbar,
.avancement-progbar {
  border-radius: 5px;
}
.avancement-progbar {
  height: 1.5rem;
  text-indent: 1rem;
  font-size: 1.1em;
  background-color: #2196f3;
  transition: width 1s ease-in-out;
}
