.boutons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
}
.boutons > a {
  text-decoration: none;
}
.card-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#statsquestions {
  min-width: 440px;
  max-width: 500px;
  flex-grow: 1;
}
.card {
  // Taille par défaut de la carte
  width: 300px;
  height: 100%;
  padding: 5px;
  border: 0px;
  overflow: auto;
}
.statgenerale {
  padding: 0.5em;
  font-size: larger;
  font-weight: bold;
  color: gray;
}
.statgenerale > span {
  display: block;
  font-size: larger;
  color: black;
}
#selectstudent {
  width: max-content;
}
.knobs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 0.5em;
}
.knobQuestion {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}
.knobQuestion:hover,
.knobQuestion:focus {
  background-color: rgb(193, 202, 209);
}
.progbar {
  margin-top: 10px;
  height: 5px;
  overflow: hidden;
}
.progbar-grade {
  color: gray;
}
