<p-galleria
  [value]="images"
  [(visible)]="displayBasic"
  [responsiveOptions]="responsiveOptions2"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [baseZIndex]="100000"
  [showThumbnails]="false"
  [numVisible]="7"
  [(activeIndex)]="activeIndex"
>
  <ng-template pTemplate="item" let-item>
    <div class="image-container">
      <img [src]="item.src" />
    </div>
  </ng-template>
</p-galleria>

<div class="grid grid-nogutter">
  <div class="col-8">
    <h2>
      <span jhiTranslate="scanexam.statexam"></span>
      <span *ngIf="infosQuestions.length !== 0">{{ infosQuestions[0].examName }}</span>
    </h2>
  </div>
  <div class="col-4 flex flex-row-reverse">
    <button
      [disabled]="!this.examid"
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="p-button p-button-primary"
      (click)="gotoResultat()"
    >
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackresultat"></span>
    </button>
  </div>
</div>
<div class="cards">
  <div class="card" id="statgen">
    <p-card [header]="'scanexam.statexam2' | translate">
      <div class="statsgenerales-container">
        <div class="statgenerale">
          <span jhiTranslate="scanexam.nbrstudents"></span
          ><span>{{ this.studentsMarks.length }} ({{ this.nbStdABI }} {{ this.nbStdABI > 1 ? 'absences' : 'absence' }})</span>
        </div>
        <div class="statgenerale">
          <span jhiTranslate="scanexam.average"></span><span>{{ this.getMeanExam().toFixed(2) }}/{{ this.getBaremeExam() }}</span>
        </div>
        <div class="statgenerale">
          <span jhiTranslate="scanexam.ecarttype"></span><span>{{ this.getStdDeviationExam().toFixed(2) }}</span>
        </div>
        <div class="statgenerale">
          <span jhiTranslate="scanexam.mediane"></span> <span>{{ this.getMedianExam() }}/{{ this.getBaremeExam() }}</span>
        </div>
        <div class="statgenerale">
          <span jhiTranslate="scanexam.notemax"></span><span>{{ this.getMaxMarkExam() }}/{{ this.getBaremeExam() }}</span>
        </div>
        <div class="statgenerale">
          <span jhiTranslate="scanexam.notemin"></span><span>{{ this.getMinMarkExam() }}/{{ this.getBaremeExam() }}</span>
        </div>
      </div>
    </p-card>
  </div>
  <div class="card" id="statsquestions">
    <p-card id="questions_stats" [header]="'scanexam.statperquestion' | translate" [subheader]="'scanexam.vue' | translate">
      <ng-template pTemplate="header">
        <div class="header-radar">
          <div class="radar-container">
            <p-chart type="radar" [data]="data_radar_courant"></p-chart>
          </div>
        </div>
      </ng-template>
      <div class="card-body">
        <div class="knobs">
          <div
            *ngFor="let note of knobsCourants | keyvalue"
            [class]="questionSelectionnee && note.key == idQuestionSelected ? 'knobQuestion knobSelected' : 'knobQuestion'"
            tabindex="0"
            (click)="selectQuestion(note.key)"
            id="knobquest{{ note.key }}"
          >
            <h6>Question {{ note.key + 1 }}</h6>
            <p-knob
              [ngModel]="this.knobsCourants.get(note.key)"
              [max]="getBaremes(this.q_notees)[note.key]"
              [size]="70"
              [readonly]="true"
              valueColor="{{ COLOR_KNOBS }}"
            ></p-knob>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="boutons">
          <button
            pButton
            (click)="toggleRadar()"
            type="button"
            class="p-button-outlined"
            id="radarChoice"
            [label]="'scanexam.changeview' | translate"
            icon="pi pi-chart-pie"
          ></button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="card" id="selectstudent">
    <p-card id="selection_etudiant" [header]="'scanexam.studentselection' | translate">
      <ng-template pTemplate="header">
        <p-table
          *ngIf="!questionSelectionnee"
          class="computer-view"
          [value]="this.infosStudents"
          selectionMode="single"
          [(selection)]="this.etudiantSelec"
          dataKey="ine"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="500px"
          (sortFunction)="triSelection($event)"
          [customSort]="true"
          (onRowSelect)="onStudentSelect()"
          (onRowUnselect)="onStudentUnselect()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="ine"><span jhiTranslate="scanexam.ine"></span><p-sortIcon field="ine"></p-sortIcon></th>
              <th pSortableColumn="nom"><span jhiTranslate="scanexam.nom"></span> <p-sortIcon field="nom"></p-sortIcon></th>
              <th pSortableColumn="prenom"><span jhiTranslate="scanexam.prenom"></span><p-sortIcon field="prenom"></p-sortIcon></th>
              <th pSortableColumn="note"><span jhiTranslate="scanexam.note"></span><p-sortIcon field="note"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-student>
            <tr [pSelectableRow]="student">
              <td>{{ student.ine }}</td>
              <td>{{ student.nom }}</td>
              <td>{{ student.prenom }}</td>
              <td>{{ student.note }}</td>
            </tr>
          </ng-template>
        </p-table>
        <p-table
          *ngIf="questionSelectionnee"
          class="computer-view"
          [value]="this.infosStudents"
          selectionMode="single"
          [(selection)]="this.etudiantSelec"
          notequestnotequestionsions
          dataKey="ine"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="500px"
          (sortFunction)="triSelection($event)"
          [customSort]="true"
          (onRowSelect)="onStudentSelect()"
          (onRowUnselect)="onStudentUnselect()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="ine"><span jhiTranslate="scanexam.ine"></span><p-sortIcon field="ine"></p-sortIcon></th>
              <th pSortableColumn="nom"><span jhiTranslate="scanexam.nom"></span> <p-sortIcon field="nom"></p-sortIcon></th>
              <th pSortableColumn="prenom"><span jhiTranslate="scanexam.prenom"></span><p-sortIcon field="prenom"></p-sortIcon></th>
              <th pSortableColumn="note"><span jhiTranslate="scanexam.note"></span><p-sortIcon field="note"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-student>
            <tr [pSelectableRow]="student">
              <td>{{ student.ine }}</td>
              <td>{{ student.nom }}</td>
              <td>{{ student.prenom }}</td>
              <td>{{ student.notequestions['' + (idQuestionSelected + 1)] }}</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="mobile-view">
          <div class="selectstudentmobile">
            <p-dropdown
              [options]="this.listeMobileEtudiant"
              [(ngModel)]="etudiantSelec"
              optionValue="value"
              optionLabel="name"
              [showClear]="true"
              [placeholder]="'scanexam.nostudentselected' | translate"
              dropdownIcon="pi pi-user"
              tooltipPosition="bottom"
              (onChange)="onStudentSelect()"
              (onClear)="onStudentUnselect()"
              scrollHeight="150px"
              showTransitionOptions="0.25.4s ease-in-out"
              hideTransitionOptions=".5s ease-in-out"
            ></p-dropdown>
            <div class="changementTriMobile">
              <p-selectButton
                (onChange)="changementTriMobile()"
                [options]="mobileSortChoices"
                [(ngModel)]="mobileSortChoice"
                optionLabel="icon"
              >
                <ng-template let-item>
                  <i [class]="item.icon"></i>
                </ng-template> </p-selectButton
              >0.25
              <p-toggleButton
                (onChange)="changementTriMobile()"
                [(ngModel)]="choixTri"
                onIcon="{{ this.ICONSORTUP }}"
                offIcon="pi pi-sort-amount-down-alt"
              ></p-toggleButton>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="subheader" [ngIf]="etudiantSelec === null || etudiantSelec === undefined">
        <span jhiTranslate="scanexam.noselectedstudent"></span>
      </ng-template>
      <ng-template pTemplate="content">
        <div *ngIf="etudiantSelec !== null && etudiantSelec !== undefined" class="progbar">
          <div class="avancement-progbar" [ngStyle]="{ width: ((this.getNoteSelect() * 100) / this.getBaremeExam()).toString() + '%' }">
            <div class="progbar-grade">
              <b>{{ this.getNoteSelect() }}</b
              >/{{ this.getBaremeExam() }}
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="boutons">
          <button
            [disabled]="etudiantSelec === null || etudiantSelec == undefined"
            pButton
            (click)="voirLaCopie()"
            type="button"
            class="p-button-primary"
            [label]="'scanexam.voircopie' | translate"
            icon="pi pi-file"
          ></button>
          <a
            *ngIf="etudiantSelec !== null && etudiantSelec !== undefined; else correctionDesactivee"
            [routerLink]="['Other']"
            class="p-element p-button p-component p-button-raised p-button-text"
            pButton
            [routerLink]="
              '/answer/' + this.examid + '/' + (this.idQuestionSelected + 1) + '/' + this.etudiantSelec.studentNumber?.toString()
            "
            type="button"
            label="{{ this.texte_correction }}"
            icon="pi pi-external-link"
          ></a>
          <ng-template #correctionDesactivee>
            <button
              [disabled]="true"
              pButton
              type="button"
              class="p-button-raised p-button-text"
              [label]="'scanexam.correction' | translate"
              icon="pi pi-external-link"
            ></button>
          </ng-template>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
