<div class="grid-nogutter flex">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <p-confirmDialog [header]="'scanexam.confirmremove' | translate" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <div class="sm:col-12 md:col-12 lg:col-8 xl:col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.liststudents">Liste étudiants</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackue">Retourner au module</span>
        </button>
        <button (click)="reset()" type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-danger">
          <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="scanexam.vider">Vider</span>
        </button>
      </div>
    </div>
    <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <p-table [value]="students" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th jhiTranslate="scanexam.ine">INE</th>
            <th jhiTranslate="scanexam.nom">NOM</th>
            <th jhiTranslate="scanexam.prenom">PRENOM</th>
            <th jhiTranslate="scanexam.mail">MAIL</th>
            <th jhiTranslate="scanexam.groupe">GROUPE</th>
            <th jhiTranslate="scanexam.supprimer">SUPPRIMER</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>
              <p-inplace [closable]="true">
                <ng-template pTemplate="display">
                  {{ student.ine }}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="student.ine" (change)="updateStudentINE(student)" pInputText />
                </ng-template>
              </p-inplace>
            </td>
            <td>
              <p-inplace [closable]="true">
                <ng-template pTemplate="display">
                  {{ student.nom }}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="student.nom" (change)="updateStudent(student)" pInputText />
                </ng-template>
              </p-inplace>
            </td>
            <td>
              <p-inplace [closable]="true">
                <ng-template pTemplate="display">
                  {{ student.prenom }}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="student.prenom" (change)="updateStudent(student)" pInputText />
                </ng-template>
              </p-inplace>
            </td>
            <td>
              <p-inplace [closable]="true">
                <ng-template pTemplate="display">
                  {{ student.mail }}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="student.mail" (change)="updateStudent(student)" pInputText />
                </ng-template>
              </p-inplace>
            </td>
            <td>
              <p-inplace [closable]="true">
                <ng-template pTemplate="display">
                  {{ student.groupe }}
                </ng-template>
                <ng-template pTemplate="content">
                  <input type="text" [(ngModel)]="student.groupe" (change)="updateStudentgroup(student)" pInputText />
                </ng-template>
              </p-inplace>
            </td>
            <td>
              <button class="btn btn-danger" (click)="removeSt(student)">
                <fa-icon icon="times"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="lg:col-4 xl:col-4 overflow-hidden hiddenxsmd sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
