#card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  background-color: blueviolet;
  padding: 12px;
}
p-card {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 600px;
}

.number {
  font-size: 4em;
  text-align: center;
  margin: 0px;
}
.numberCard {
  width: fit-content;
}
