<div class="grid">
  <p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [responsiveOptions]="responsiveOptions2"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [baseZIndex]="100000"
    [showThumbnails]="false"
    [numVisible]="7"
    [containerStyle]="{ 'max-height': '90vh' }"
  >
    <ng-template pTemplate="item" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.src" style="width: 80%; max-height: 100vh" />
      </div>
    </ng-template>
  </p-galleria>
</div>
<div class="grid-nogutter flex">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <div class="grid" style="width: 90vw">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <!--<i class="pi pi-lock" style="font-size: 3rem"> </i>-->
        <p-progressSpinner></p-progressSpinner>

        <BR />
        {{ percentavancement | number: '1.0-2' }} % <BR /> {{ message }} <BR />

        {{ submessage }}
        <span *ngIf="submessage !== undefined && submessage.length > 0">{{ progress }} / 100</span>
        <BR />
      </div>
      <div class="col-4"></div>
    </div>
  </p-blockUI>
  <p-drawer [(visible)]="layoutsidebarVisible">
    <h3 jhiTranslate="scanexam.alignoptions">Layout options</h3>

    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span jhiTranslate="scanexam.nbreCore"> Nombre de coeur: </span>&nbsp; <span> </span> ({{ nbreCore }})</label>
      <p-slider
        [(ngModel)]="nbreCore"
        [min]="1"
        [max]="nbreCoreMax"
        [step]="1"
        [pTooltip]="'scanexam.nbreCoreTooltip' | translate"
        [tooltipZIndex]="'3000'"
        [tooltipPosition]="'right'"
      >
      </p-slider>
    </div>

    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span jhiTranslate="scanexam.stepPage"> Step ProcessImage: </span>&nbsp; <span> </span> ({{ stepPage }})</label>
      <p-slider
        [(ngModel)]="stepPage"
        [min]="50"
        [max]="500"
        [step]="50"
        [pTooltip]="'scanexam.stepPageTooltip' | translate"
        [tooltipZIndex]="'3000'"
        [tooltipPosition]="'right'"
      >
      </p-slider>
    </div>

    <h3 jhiTranslate="scanexam.downloadpdf">Téléchargement pdfs</h3>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <a (click)="downloadTemplate()">template.pdf</a>
    </div>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <a (click)="downloadScan()">scan.pdf</a>
    </div>
  </p-drawer>

  <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-1">
        <p-button
          class="sm:text-xs md:text-xs lg:text-base"
          styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
          (click)="layoutsidebarVisible = true"
          icon="pi pi-cog"
          [pTooltip]="'scanexam.showAlignementOptionsTooltip' | translate"
          [tooltipPosition]="'right'"
          [disabled]="blocked"
        ></p-button>
      </div>
      <div class="col-12 md:col-3">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.align">Aligner scans</h2>
      </div>
      <div class="col-12 md:col-8 flex flex-row-reverse">
        <button
          [disabled]="!this.examId"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
          [pTooltip]="'scanexam.gotoexamtooltip' | translate"
          [tooltipPosition]="'bottom'"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackexam">Retourner à l'exam</span>
        </button>

        <button
          (click)="processFull(false)"
          class="p-button p-button-primary"
          [disabled]="!loaded"
          [pTooltip]="'scanexam.alignscantooltip' | translate"
          [tooltipZIndex]="'3000'"
          [tooltipPosition]="'bottom'"
        >
          <fa-icon [icon]="faObjectGroup"></fa-icon>&nbsp;<span jhiTranslate="scanexam.alignscan"> Alignement des scans</span>
        </button>
        <button
          (click)="show()"
          class="p-button p-button-primary"
          [disabled]="!loaded || !allowPartialAlign"
          [pTooltip]="'scanexam.partialalignscantooltip' | translate"
          [tooltipZIndex]="'3000'"
          [tooltipPosition]="'bottom'"
        >
          <fa-icon [icon]="faObjectUngroup"></fa-icon>&nbsp;<span jhiTranslate="scanexam.partialalignscan"> Alignement des scans</span>
        </button>
        <ng-container *ngIf="nbPageAlignInCache > 0">
          <button
            (click)="showVignette()"
            class="p-button p-button-primary"
            [disabled]="!loaded || !allowPartialAlign"
            [pTooltip]="'scanexam.voirvignettealigntooltip' | translate"
            [tooltipZIndex]="'3000'"
            [tooltipPosition]="'bottom'"
          >
            <fa-icon icon="image"></fa-icon>&nbsp;<span jhiTranslate="scanexam.voirvignettealign"> Vignettes des pages</span>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <h5 jhiTranslate="scanexam.alignscanalgo">Algorithme d'alignement</h5>
      <p-selectButton [options]="alignementOptions" [(ngModel)]="alignement" optionLabel="label" optionValue="value">
        <ng-template #item let-item>
          <span [tooltipPosition]="'bottom'" [pTooltip]="item.tooltip | translate" [jhiTranslate]="item.label"></span>
        </ng-template>
      </p-selectButton>

      <h5 jhiTranslate="scanexam.alignscanbrpage">Nombre de page à utiliser dans le template d'exam</h5>
      <p-inputNumber
        [pTooltip]="'scanexam.nbrepageintemplateTooltip' | translate"
        [tooltipPosition]="'right'"
        [(ngModel)]="nbreFeuilleParCopie"
        [showButtons]="true"
      ></p-inputNumber>
    </div>
    <jhi-viewandreorderpages
      [alignPage]="true"
      #viewpage
      *ngIf="_showVignette && allowPartialAlign"
      [examId]="+examId!"
    ></jhi-viewandreorderpages>
  </div>
  <!--  <div  class="col-4 md:col-4 overflow-hidden sm:hidden md:hidden lg:hidden xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>-->
</div>
