<p-blockUI [blocked]="blocked"></p-blockUI>

<h5>Alignement</h5>
<p-selectButton
  [options]="alignementOptions"
  [(ngModel)]="alignement"
  (onChange)="alignementChange()"
  optionLabel="label"
  optionValue="value"
></p-selectButton>

<p-selectButton [options]="debugOptions" [(ngModel)]="debug" optionLabel="label" optionValue="value"></p-selectButton>

<p-inputNumber [(ngModel)]="nbreFeuilleParCopie" [showButtons]="true"></p-inputNumber>

<p-button (onClick)="process()" [disabled]="!loaded">Alignement des scans</p-button>

<div class="canvas-wrapper foo">
  <ngx-extended-pdf-viewer
    [hidden]="'true'"
    [base64Src]="pdfcontent"
    [useBrowserLocale]="true"
    style="flex: 1 1 100%"
    #viewer
    [height]="'90vh'"
    [page]="1"
    [handTool]="false"
    [showHandToolButton]="false"
    [textLayer]="false"
    [(scrollMode)]="scrollMode"
    [handTool]="false"
    [showToolbar]="false"
    [pageViewMode]="'infinite-scroll'"
    [showSecondaryToolbarButton]="false"
    backgroundColor="#ffffff"
    [zoom]="'100%'"
    [minZoom]="1"
    [maxZoom]="1"
    (pdfLoaded)="pdfloaded()"
  ></ngx-extended-pdf-viewer>

  <canvas [hidden]="!debug" #imageAligned></canvas>

  <canvas [hidden]="!debug" #keypoints1></canvas>
  <canvas [hidden]="!debug" #keypoints2></canvas>
  <canvas [hidden]="!debug" #imageCompareMatches></canvas>
</div>
