<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"
      >&nbsp;{{ avancement }}{{ avancementunit }} <BR /> {{ message }} <BR /> {{ submessage }}
      <span *ngIf="submessage !== undefined && submessage.length > 0">{{ progress }} / 100</span>
    </i>
  </p-blockUI>

  <div class="col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.align">Aligner scans</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examId"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackexam">Retourner à l'exam</span>
        </button>

        <button (click)="process()" class="p-button p-button-primary" [disabled]="!loaded">
          <fa-icon [icon]="faObjectGroup"></fa-icon>&nbsp;<span jhiTranslate="scanexam.alignscan"> Alignement des scans</span>
        </button>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <h5 jhiTranslate="scanexam.alignscanalgo">Algorithme d'alignement</h5>
      <p-selectButton [options]="alignementOptions" [(ngModel)]="alignement" optionLabel="label" optionValue="value"></p-selectButton>

      <h5 jhiTranslate="scanexam.alignscanbrpage">Nombre de page à utiliser dans le template d'exam</h5>
      <p-inputNumber [(ngModel)]="nbreFeuilleParCopie" [showButtons]="true"></p-inputNumber>

      <div class="canvas-wrapper foo">
        <ngx-extended-pdf-viewer
          [hidden]="'true'"
          [base64Src]="pdfcontent"
          [useBrowserLocale]="true"
          style="flex: 1 1 100%"
          #viewer
          [height]="'90vh'"
          [page]="1"
          [handTool]="false"
          [showHandToolButton]="false"
          [textLayer]="false"
          [(scrollMode)]="scrollMode"
          [handTool]="false"
          [showToolbar]="false"
          [pageViewMode]="'infinite-scroll'"
          [showSecondaryToolbarButton]="false"
          backgroundColor="#ffffff"
          [zoom]="'100%'"
          [minZoom]="1"
          [maxZoom]="1"
          (pdfLoaded)="pdfloaded()"
        ></ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
  <div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
