<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <div class="grid" style="width: 90vw">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <i class="pi pi-lock" style="font-size: 3rem"> </i>
        <div class="grid">
          <div class="col-12">
            <p-progressBar [value]="progress"></p-progressBar>
          </div>
        </div>

        <span *ngIf="message !== undefined && message.length > 0">{{ message }}</span>
        <BR />
        <span *ngIf="submessage !== undefined && submessage.length > 0">{{ submessage }}</span>
      </div>
      <div class="col-4"></div>
    </div>
  </p-blockUI>

  <div class="sm:col-12 md:col-12 lg:col-12">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">
          <span jhiTranslate="scanexam.chargerscan"> Charger ou mettre à jour un scan de copies pour l'exam : </span> {{ exam.name }}
        </h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [pTooltip]="'scanexam.gotoexamtooltip' | translate"
          [tooltipPosition]="'bottom'"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackue">Retourner au module</span>
        </button>
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [pTooltip]="'scanexam.reloadScan' | translate"
          [tooltipPosition]="'bottom'"
          (click)="reloadScan = true"
        >
          <fa-icon icon="refresh"></fa-icon>&nbsp;<span jhiTranslate="scanexam.reloadscan">Recharger un nouveau scan</span>
        </button>
        <ng-container *ngIf="this.exam?.scanfileId !== undefined">
          <button
            [disabled]="!this.examid"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="p-button p-button-primary"
            (click)="initCacheProcessing()"
            [pTooltip]="'scanexam.initCacheProcessing' | translate"
            [tooltipPosition]="'bottom'"
          >
            <fa-icon icon="retweet"></fa-icon>&nbsp;<span jhiTranslate="scanexam.rescan">Réanalyser à partie du pdf</span>
          </button>
        </ng-container>
      </div>
    </div>
    <div *ngIf="reloadScan || pageInTemplate === 0 || pageInScan === 0">
      <div class="col-12 md:col-12">
        <div class="row mb-3">
          <!--          <label class="form-label" jhiTranslate="gradeScopeIsticApp.scan.content" for="field_content">Content</label>-->
          <div>
            <!-- <div *ngIf="editForm.get('content')!.value" class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('content')!.value, editForm.get('contentContentType')!.value)"
                  jhiTranslate="entity.action.open"
                  >open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('contentContentType')!.value }}, {{ byteSize(editForm.get('content')!.value) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ content: null }); editForm.patchValue({ contentContentType: null })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div> -->
            <!--<input
                type="file"
                id="file_content"
                data-cy="content"
                (change)="setFileData($event, 'content', false)"
                jhiTranslate="entity.action.addblob"
              />-->
            <p-fileUpload
              [chooseIcon]="''"
              [chooseStyleClass]="'p-button p-button-primary'"
              mode="basic"
              [auto]="true"
              [customUpload]="true"
              [pTooltip]="'scanexam.pdfupload' | translate"
              tooltipPosition="bottom"
              [tooltipZIndex]="'3000'"
              [chooseLabel]="'scanexam.pdfchoisirfichier' | translate"
              name="import[]"
              accept="application/pdf"
              [maxFileSize]="2000000000"
              (uploadHandler)="onUpload($event)"
            ></p-fileUpload>
          </div>
        </div>

        <!--  <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="gotoUE()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="p-button p-button-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>-->
      </div>
    </div>
    <jhi-viewandreorderpages
      #viewpage
      *ngIf="showVignette && !reloadScan && examid && pageInTemplate > 0 && pageInScan > 0"
      [examId]="+examid!"
    ></jhi-viewandreorderpages>
  </div>
  <!--  <div class="lg:col-4 xl:col-4 overflow-hidden sm:hidden md:hidden lg:flex xl:flex">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>-->
  <div class="canvas-wrapper foo">
    <ngx-extended-pdf-viewer
      [hidden]="'true'"
      [src]="blob1"
      [useBrowserLocale]="true"
      style="flex: 1 1 100%"
      #viewer
      [height]="'90vh'"
      [page]="1"
      [handTool]="false"
      [showHandToolButton]="false"
      [textLayer]="false"
      [(scrollMode)]="scrollMode"
      [handTool]="false"
      [showToolbar]="false"
      [pageViewMode]="'infinite-scroll'"
      [showSecondaryToolbarButton]="false"
      backgroundColor="#ffffff"
      [zoom]="'100%'"
      [minZoom]="1"
      [maxZoom]="1"
      (pdfLoaded)="pdfloaded()"
    ></ngx-extended-pdf-viewer>
  </div>
</div>
