<div class="grid">
  <p-toast></p-toast>
  <p-confirmDialog [acceptLabel]="'scanexam.yes' | translate" [rejectLabel]="'scanexam.no' | translate"></p-confirmDialog>

  <p-blockUI [blocked]="blocked">
    <div class="grid" style="width: 90vw">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <p-progressSpinner></p-progressSpinner>
        <!--        <i class="pi pi-lock" style="font-size: 3rem"> </i>-->
        <div class="grid">
          <div class="col-12">
            <p-progressBar [value]="progress"></p-progressBar>
          </div>
        </div>

        <span *ngIf="message !== undefined && message.length > 0">{{ message }}</span>
        <BR />
        <span *ngIf="submessage !== undefined && submessage.length > 0">{{ submessage }}</span>
      </div>
      <div class="col-4"></div>
    </div>
  </p-blockUI>

  <p-drawer [(visible)]="layoutsidebarVisible">
    <h3 [translate]="'scanexam.downloadpdf'">Téléchargement pdfs</h3>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <a (click)="downloadTemplate()">template.pdf</a>
    </div>
    <div *ngIf="this.exam?.scanfileId !== undefined" style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <a (click)="downloadScan()">scan.pdf</a>
    </div>
  </p-drawer>

  <div class="sm:col-12 md:col-12 lg:col-12">
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-1">
        <p-button
          class="sm:text-xs md:text-xs lg:text-base"
          styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
          (click)="layoutsidebarVisible = true"
          icon="pi pi-cog"
          [pTooltip]="'scanexam.showDownloadOptionsTooltip' | translate"
          [tooltipPosition]="'right'"
          [disabled]="blocked"
        ></p-button>
      </div>
      <div class="col-7">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">
          <span [translate]="'scanexam.chargerscan'"> Charger ou mettre à jour un scan de copies pour l'exam : </span> {{ exam.name }}
        </h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [pTooltip]="'scanexam.gotoexamtooltip' | translate"
          [tooltipPosition]="'bottom'"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'scanexam.gobackue'">Retourner au module</span>
        </button>
        <button
          [disabled]="!this.examid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          [pTooltip]="'scanexam.reloadScan' | translate"
          [tooltipPosition]="'bottom'"
          (click)="reloadScan = true"
        >
          <fa-icon icon="refresh"></fa-icon>&nbsp;<span [translate]="'scanexam.reloadscan'">Recharger un nouveau scan</span>
        </button>
        <ng-container *ngIf="this.exam?.scanfileId !== undefined">
          <button
            [disabled]="!this.examid"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="p-button p-button-primary"
            (click)="initCacheProcessing(true)"
            [pTooltip]="'scanexam.initCacheProcessing' | translate"
            [tooltipPosition]="'bottom'"
          >
            <fa-icon icon="retweet"></fa-icon>&nbsp;<span [translate]="'scanexam.rescan'">Réanalyser à partie du pdf</span>
          </button>
        </ng-container>
      </div>
    </div>
    <div *ngIf="reloadScan || pageInTemplate === 0 || pageAlreadyScan === 0">
      <div class="col-12 md:col-12">
        <!--            <p-toggleButton [(ngModel)]="merge" onLabel="Concatenation" offLabel="Remplacement"></p-toggleButton>-->
        <div class="flex flex-row flex-wrap card-container">
          <div *ngIf="exam?.scanfileId" class="flex align-items-center justify-content-center font-bold border-round m-2">
            <label
              for="switch1"
              [translate]="'scanexam.concatenation'"
              [pTooltip]="'scanexam.concatenationTooltip' | translate"
              [tooltipPosition]="'bottom'"
              >Concaténation au scan déjà chargé:</label
            >
          </div>

          <div *ngIf="exam?.scanfileId" class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
            <p-toggleSwitch inputId="switch1" [(ngModel)]="merge"></p-toggleSwitch>
          </div>
          <div class="flex align-items-center justify-content-center border-round m-2">
            <p-fileUpload
              #fileUpload
              [chooseIcon]="''"
              [chooseStyleClass]="'p-button p-button-primary'"
              mode="basic"
              [auto]="true"
              [customUpload]="true"
              [pTooltip]="'scanexam.pdfupload' | translate"
              tooltipPosition="bottom"
              [tooltipZIndex]="'3000'"
              [chooseLabel]="'scanexam.pdfchoisirfichier' | translate"
              name="import[]"
              accept="application/pdf"
              [maxFileSize]="2000000000"
              (uploadHandler)="onUpload($event, fileUpload)"
            ></p-fileUpload>
          </div>
        </div>
      </div>
    </div>
    <jhi-viewandreorderpages
      #viewpage
      *ngIf="showVignette && !reloadScan && examid && pageInTemplate > 0 && pageAlreadyScan > 0"
      [examId]="+examid!"
    ></jhi-viewandreorderpages>
  </div>
  @if (showPdfViewer) {
    <div class="canvas-wrapper foo">
      <ngx-extended-pdf-viewer
        [src]="blob1"
        style="flex: 1 1 100%"
        [height]="'90vh'"
        [page]="1"
        [handTool]="false"
        [showHandToolButton]="false"
        [textLayer]="false"
        [(scrollMode)]="scrollMode"
        [showToolbar]="false"
        [showSecondaryToolbarButton]="false"
        [sidebarVisible]="false"
        backgroundColor="#ffffff"
        [zoom]="'100%'"
        [minZoom]="1"
        [maxZoom]="1"
        (pdfLoaded)="pdfloaded()"
        [disableForms]="true"
        [enableDragAndDrop]="true"
        [enablePrint]="false"
        [handTool]="false"
        [showBorders]="false"
      ></ngx-extended-pdf-viewer>
    </div>
  }
</div>
