<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <div class="col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.importstudent">Importer étudiants</h2>
        <p-message *ngIf="!canImport()" severity="warn" [text]="'scanexam.listestudentvalid' | translate"></p-message>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.courseid"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackue">Retourner au module</span>
        </button>

        <button
          [disabled]="!this.courseid || !canImport()"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="envoiEtudiants()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="scanexam.importfollowingstudent">Importer étudiants ci-dessous</span>
        </button>
        <button (click)="download()" type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="p-button p-button-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="scanexam.downloadtemplate">Download template</span>
        </button>
      </div>
      <div class="col-offset-8 col-4">
        <label for="slider" jhiTranslate="scanexam.nbrligne">Nombre de lignes dans le tableau (entre 100 et 300)</label>
        <p-slider id="slider" [(ngModel)]="val" (onChange)="updateTableSize()" [step]="20" [min]="100" [max]="300"></p-slider>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <hot-table
        [hotId]="id"
        class="hot"
        [data]="dataset"
        [colHeaders]="true"
        [rowHeaders]="true"
        [stretchH]="'all'"
        [colHeaders]="true"
        [rowHeaders]="true"
        licenseKey="non-commercial-and-evaluation"
        [stretchH]="'all'"
        [afterChange]="detectChanges"
      >
        <!--<hot-column data="id" [readOnly]="true" title="ID"></hot-column>-->
        <hot-column data="ine" [title]="'scanexam.ine' | translate"></hot-column>>
        <hot-column data="nom" [title]="'scanexam.nom' | translate"></hot-column>>
        <hot-column data="prenom" [title]="'scanexam.prenom' | translate"></hot-column>>
        <hot-column data="mail" [title]="'scanexam.mail' | translate"></hot-column>>
        <hot-column data="groupe" [title]="'scanexam.groupe' | translate"></hot-column>>
      </hot-table>
    </div>
  </div>
  <div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
