.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabs {
  min-width: 1300px;
  max-width: 1300px;
}
tr.alreadyimported td {
  background-color: #f8f9fa;
}
