<div class="grid-nogutter">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <p-progressSpinner></p-progressSpinner>
    <!--    <i class="pi pi-lock" style="font-size: 3rem"></i>-->
  </p-blockUI>

  <p-confirmDialog
    [header]="'scanexam.confirmremove' | translate"
    icon="pi pi-exclamation-triangle"
    [acceptLabel]="'scanexam.yes' | translate"
    [rejectLabel]="'scanexam.no' | translate"
  ></p-confirmDialog>

  <div class="">
    <div class="grid flex">
      <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
        @if (!canImport()) {
          <p-message [severity]="$any('warn')" [text]="'scanexam.listestudentvalid' | translate"></p-message>
        }
        @if (!canImport()) {
          <p-message [severity]="$any('warn')" [text]="'scanexam.listestudentvaliddetail' | translate"></p-message>
        }
        @if (!canImportSameColSize()) {
          <p-message [severity]="$any('warn')" [text]="'scanexam.liststderrorcolsize' | translate"></p-message>
        }
        @if (!canImportUniqueMails()) {
          <p-message [severity]="$any('warn')" [text]="'scanexam.liststderroremails' | translate"></p-message>
        }
        @if (!canImportUniqueINE()) {
          <p-message [severity]="$any('warn')" [text]="'scanexam.liststderrorINE' | translate"></p-message>
        }
        @if (canImport() && hasDataSet()) {
          <p-message severity="info" [text]="'scanexam.clickbuttonsauveretudiant' | translate"></p-message>
        }
      </div>
      <div class="sm:col-12 md:col-6 lg:col-6 xl:col-6">
        <div class="md:flex lg:flex xl:flex md:flex-row-reverse lg:flex-row-reverse">
          <div class="">
            <button
              [disabled]="!this.courseid"
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="p-button p-button-primary"
              (click)="gotoUE()"
            >
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span [translate]="'scanexam.gobackue'">Retourner au module</span>
            </button>
          </div>
        </div>
        <div class="md:flex lg:flex xl:flex md:flex-row-reverse lg:flex-row-reverse">
          <div class="">
            <button
              [disabled]="!this.courseid || !canImport()"
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="p-button flex-initial flex align-items-center"
              [pTooltip]="'scanexam.importstudenttooltip' | translate"
              [ngClass]="{ 'p-button-primary': this.courseid && canImport(), 'p-button-secondary': !this.courseid || !canImport() }"
              (click)="envoiEtudiants()"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span [translate]="'scanexam.importfollowingstudent'"
                >Importer étudiants ci-dessous</span
              >
            </button>
          </div>
          <div class="">
            <p-fileUpload
              #uploadpegase
              mode="basic"
              auto="true"
              chooseIcon="pi pi-upload"
              uploadIcon="pi pi-arrow-up"
              customUpload="true"
              [pTooltip]="'scanexam.pegasetooltip' | translate"
              chooseLabel="Pegase"
              accept="text/csv"
              multiple="false"
              (uploadHandler)="loadPegaseFile($event, uploadpegase)"
            ></p-fileUpload>
          </div>
          <div class="">
            <p-fileUpload
              #uploadmdw
              mode="basic"
              auto="true"
              chooseIcon="pi pi-upload"
              uploadIcon="pi pi-arrow-up"
              customUpload="true"
              [pTooltip]="'scanexam.mdwtooltip' | translate"
              chooseLabel="MDW"
              accept=".xlsx"
              multiple="false"
              (uploadHandler)="loadMDWFile($event, uploadmdw)"
            ></p-fileUpload>
          </div>
          <p-dialog [visible]="mustSpecifyDomain" [modal]="true" [closable]="false">
            <div class="flex flex-column px-8 py-5 gap-4">
              <div class="inline-flex flex-column gap-2">
                <label for="domain">Domaine de l'adresse email</label>
                <input pInputText id="domain" [(ngModel)]="emailDomain" />
              </div>
              <div class="flex align-items-center gap-2">
                <p-button [label]="'scanexam.confirm' | translate" (click)="closeDialog(true)" [text]="true" class="w-full"></p-button>
                <p-button [label]="'scanexam.cancel' | translate" (click)="closeDialog(false)" [text]="true" class="w-full"></p-button>
              </div>
            </div>
          </p-dialog>
          <div class="">
            <button
              (click)="download()"
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="p-button p-button-primary flex-initial flex align-items-center"
            >
              <fa-icon icon="download"></fa-icon>&nbsp;<span [translate]="'scanexam.downloadtemplate'">Download template</span>
            </button>
          </div>
        </div>
        <div class="md:flex lg:flex xl:flex md:flex-row-reverse lg:flex-row-reverse">
          <div class="">
            <p-button
              severity="danger"
              (click)="reset()"
              type="submit"
              id="save-entity"
              [pTooltip]="'scanexam.resetStdListTooltip' | translate"
              data-cy="entityCreateSaveButton"
              [disabled]="this.students.length === 0"
            >
              <fa-icon icon="times"></fa-icon>&nbsp;<span [translate]="'scanexam.deleteStdListServer'"></span>
            </p-button>
          </div>
          <div class="">
            <p-button
              severity="danger"
              (click)="resetLocal()"
              type="submit"
              id="save-entity"
              [pTooltip]="'scanexam.resetStdListLocalTooltip' | translate"
              data-cy="entityCreateSaveButton"
              [disabled]="this.dataset.length === 0"
            >
              <fa-icon icon="times"></fa-icon>&nbsp;<span [translate]="'scanexam.deleteStdLocalList'"></span>
            </p-button>
          </div>
        </div>
      </div>
      <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <p-table [value]="students" responsiveLayout="scroll" sortMode="single" [sortField]="'ine'">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th [translate]="'scanexam.ine'">INE</th>
              <th [translate]="'scanexam.nom'">NOM</th>
              <th [translate]="'scanexam.prenom'">PRENOM</th>
              <th [translate]="'scanexam.mail'">MAIL</th>
              <th [translate]="'scanexam.groupe'">GROUPE</th>
              <th style="text-align: center; vertical-align: middle" [translate]="'scanexam.supprimer'">SUPPRIMER</th>
            </tr>
            <tr>
              <td></td>

              <td>
                <input [(ngModel)]="firstLine.ine" (paste)="pasteData($event)" type="text" style="width: 90%" />
              </td>
              <td>
                <input [(ngModel)]="firstLine.nom" type="text" style="width: 90%" />
              </td>
              <td>
                <input [(ngModel)]="firstLine.prenom" type="text" style="width: 90%" />
              </td>
              <td>
                <input [(ngModel)]="firstLine.mail" type="text" style="width: 90%" />
              </td>
              <td>
                <input [(ngModel)]="firstLine.groupe" type="text" style="width: 90%" />
              </td>
              <td style="text-align: center; vertical-align: middle">
                <button [disabled]="!canImport()" class="btn" (click)="addStudentLine()">
                  <fa-icon icon="plus"></fa-icon>
                </button>
              </td>
            </tr>
            @for (st of dataset; track st; let index = $index) {
              <tr>
                <td>
                  {{ index + 1 }}
                </td>
                <td>
                  <input
                    style="width: 90%"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.donneesaimporte' | translate"
                    [(ngModel)]="st.ine"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    style="width: 90%"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.donneesaimporte' | translate"
                    [(ngModel)]="st.nom"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    style="width: 90%"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.donneesaimporte' | translate"
                    [(ngModel)]="st.prenom"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    style="width: 90%"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.donneesaimporte' | translate"
                    [(ngModel)]="st.mail"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    style="width: 90%"
                    [tooltipZIndex]="'3000'"
                    [pTooltip]="'scanexam.donneesaimporte' | translate"
                    [(ngModel)]="st.groupe"
                    type="text"
                  />
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <button
                    class="btn btn-danger"
                    (click)="removeNonImported(index)"
                    tooltipPosition="left"
                    tooltipZIndex="3000"
                    [pTooltip]="'scanexam.deleteRowStdList' | translate"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </td>
              </tr>
            }
          </ng-template>
          @for (student of students; track student; let ii = $index) {
            <ng-template pTemplate="body">
              <tr [ngClass]="{ alreadyimported: true }">
                <td>
                  {{ students.indexOf(student) + 1 }}
                </td>
                <td>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <span [tooltipZIndex]="'3000'" [pTooltip]="'scanexam.donneesdejaimporte' | translate">{{ student.ine }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input style="width: 90%" type="text" [(ngModel)]="student.ine" (change)="updateStudentINE(student)" pInputText />
                    </ng-template>
                  </p-inplace>
                </td>
                <td>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <span [tooltipZIndex]="'3000'" [pTooltip]="'scanexam.donneesdejaimporte' | translate">{{ student.nom }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input style="width: 90%" type="text" [(ngModel)]="student.nom" (change)="updateStudent(student)" pInputText />
                    </ng-template>
                  </p-inplace>
                </td>
                <td>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <span [tooltipZIndex]="'3000'" [pTooltip]="'scanexam.donneesdejaimporte' | translate">{{ student.prenom }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input type="text" style="width: 90%" [(ngModel)]="student.prenom" (change)="updateStudent(student)" pInputText />
                    </ng-template>
                  </p-inplace>
                </td>
                <td>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <span [tooltipZIndex]="'3000'" [pTooltip]="'scanexam.donneesdejaimporte' | translate">{{ student.mail }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input type="text" style="width: 90%" [(ngModel)]="student.mail" (change)="updateStudent(student)" pInputText />
                    </ng-template>
                  </p-inplace>
                </td>
                <td>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <span [tooltipZIndex]="'3000'" [pTooltip]="'scanexam.donneesdejaimporte' | translate">{{ student.groupe }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input
                        type="text"
                        style="width: 90%"
                        [(ngModel)]="student.groupe"
                        (change)="updateStudentgroup(student)"
                        pInputText
                      />
                    </ng-template>
                  </p-inplace>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <button class="btn btn-danger" (click)="removeStudent(student)">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </td>
              </tr>
            </ng-template>
          }
        </p-table>
      </div>
    </div>
  </div>
</div>
