::ng-deep .no-label .p-button-label {
  display: none !important;
}

.nameedit {
  font-size: x-large !important;
  font-weight: bold !important;
  color: black !important;
}

.nameedit[readonly] {
  border-style: hidden !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
.usable-input-text {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.usable-input-text * {
  padding: 3px !important;
}

::ng-deep .no-label .p-button-label {
  display: none !important;
}

::ng-deep .no-icon .p-button-icon {
  display: none !important;
}

::ng-deep .no-label .p-togglebutton-label {
  display: none !important;
}

::ng-deep .no-icon .p-togglebutton-icon {
  display: none !important;
}
