.card {
  --bs-card-title-spacer-y: 0rem;
}
.card-body {
  padding-top: 2pt;
  padding-bottom: 2pt;
}

.tooltipsmall {
  font-size: xx-small;
}
small {
  font-size: x-large;
}

::ng-deep .disabled-div {
  opacity: 0.5;
  pointer-events: none;
}

::ng-deep .p-overlay-mask {
  background: rgba(0, 0, 0, 0.85);
}

p-galleria ::ng-deep .p-galleria {
  overflow: hidden;
  border-style: hidden;
  border-width: var(--p-galleria-border-width);
  border-color: var(--p-galleria-border-color);
  border-radius: var(--p-galleria-border-radius);
}
