<div class="grid">
  <p-toast></p-toast>
  <p-dialog
    [header]="'scanexam.keyboardshortcutlabel' | translate"
    (onHide)="cleanShortCut()"
    [(visible)]="shortCut4Comment"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="flex flex-column gap-2">
      <label htmlFor="keyboardshortcutlabel" jhiTranslate="scanexam.keyboardshortcutlabel">Raccourci clavier</label>
      <input pInputText id="keyboardshortcutlabel" aria-describedby="username-help" [(ngModel)]="currentKeyBoardShorcut" />
      <small id="keyboardshortcutlabel-help" jhiTranslate="scanexam.keyboardshortcuthelp"
        >Entrer votre raccourci clavier de la forme: ctrl + e ou shift + e (Vous pouvez voir les raccourci existant en cliquant sur
        F1)</small
      >
      <div class="flex flex-row gap-2">
        <p-button (click)="saveShortCut()" [label]="'scanexam.save' | translate"></p-button>
        <p-button (click)="resetAllShortCut()" [label]="'scanexam.resetAllShortCut' | translate"></p-button>
      </div>
    </div>
  </p-dialog>

  <p-confirmDialog #cd icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="header">
      <h3 jhiTranslate="scanexam.confirmation"></h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" [label]="'scanexam.no' | translate" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" [label]="'scanexam.yes' | translate" (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>
  <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
  <ng-container *ngIf="testdisableAndEnableKeyBoardShortCut">
    <jhi-keyboardshortcut
      (toggleTCommentById)="toggleTCommentById($event)"
      (toggleGCommentById)="toggleGCommentById($event)"
      [examId]="+examId!"
      [questionindex]="questionindex4shortcut!"
    ></jhi-keyboardshortcut>
  </ng-container>

  <p-sidebar [(visible)]="layoutsidebarVisible">
    <h3 jhiTranslate="scanexam.layoutoptions">Layout options</h3>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label jhiTranslate="scanexam.removealignement">Supprimer alignement: </label>
      <p-inputSwitch class="float-end" [(ngModel)]="noalign" (onChange)="changeAlign()"></p-inputSwitch>
    </div>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span jhiTranslate="scanexam.zoomfactor"> Facteur agrandissement : </span>({{ factor }})</label>
      <p-slider *ngIf="noteSteps > 0" [ngModel]="factor" [min]="1" [max]="2" [step]="0.1" (onChange)="reloadImageGrowFactor($event)">
      </p-slider>
    </div>
    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <label><span jhiTranslate="scanexam.pageshift">Décallage de page(s) : </span>({{ pageOffset }})</label>
      <p-slider [ngModel]="pageOffset" [min]="-5" [max]="5" [step]="1" (onChange)="reloadImageOffset($event)"> </p-slider>
    </div>

    <div style="padding-bottom: 1rem" class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
      <button
        type="text"
        pButton
        [pTooltip]="'scanexam.realign' | translate"
        [tooltipZIndex]="'3000'"
        [label]="'scanexam.realignlabel' | translate"
        (click)="realign()"
      ></button>
    </div>
  </p-sidebar>

  <p-dialog [header]="'scanexam.shortcut' | translate" [(visible)]="shortcut" [style]="{ width: '50vw' }">
    <span jhiTranslate="scanexam.shortcutdetail"></span>
    <BR />
    <BR />
    <span jhiTranslate="scanexam.shortcutopenatstart"></span>
    <input type="checkbox" [(ngModel)]="shortcutvalue" (change)="changeStartPreference()" />
    <ng-template pTemplate="footer">
      <button type="button" pButton label="ok" (click)="shortcut = false"></button>
    </ng-template>
  </p-dialog>

  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>
  <p-overlayPanel #qcmcorrect (onShow)="computeQCMdebug()">
    <ng-template pTemplate>
      <div>
        <canvas [hidden]="!showImageQCM" #imageQcmDebugs></canvas>
      </div>
    </ng-template>
  </p-overlayPanel>

  <p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [responsiveOptions]="responsiveOptions2"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [baseZIndex]="100000"
    [showThumbnails]="false"
    [containerStyle]="{ 'max-height': '90vh' }"
    [numVisible]="7"
    [(activeIndex)]="activeIndex"
  >
    <ng-template pTemplate="item" let-item>
      <div
        class="grid grid-nogutter justify-content-center"
        style="overflow-x: hidden; overflow-y: scroll; border: #000000 1px solid; height: 96vh; width: 90vw"
      >
        <img [src]="item.src" style="display: block" />
      </div>
    </ng-template>
  </p-galleria>

  <div class="col-12">
    <!-- <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="scanexam.correction">Correction</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examId"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="p-button p-button-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="scanexam.gobackexam">Retourner à l'exam</span>
        </button>
      </div>
    </div>-->
    <!-- <div class="grid align-items-center">
      <div class="col-1">
      </div>
      <div class="col-7">
        <p-paginator
          [currentPageReportTemplate]="'scanexam.currentpage' | translate"
          [rows]="1"
          [first]="questionno"
          [totalRecords]="nbreQuestions!"
          (onPageChange)="changeQuestion($event)"
          [showJumpToPageDropdown]="true"
          [showPageLinks]="false"
        ></p-paginator>
      </div>
      <div class="col-4 grid justify-content-end">
        <fa-icon [size]="'2x'" [pTooltip]="getStudentName()!" tooltipPosition="left" icon="eye"></fa-icon>
      </div>
    </div>-->
    <!--<div class="grid grid-nogutter">
      <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-10">
        <div class="d-flex justify-content-center" ng-if="questionnofirst !== -1">
          <p-paginator
            [currentPageReportTemplate]="'scanexam.currentpage' | translate"
            [rows]="1"
            [first]="questionno!"
            [totalRecords]="nbreQuestions!"
            (onPageChange)="changeQuestion($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
          ></p-paginator>
        </div>
      </div>
    </div>-->

    <div class="grid grid-nogutter">
      <div class="col-12 sm:col-12 md:col-12 lg:col-9 xl:col-10">
        <div class="d-flex justify-content-center">
          <div class="col-5">
            <p-button
              class="sm:text-xs md:text-xs lg:text-base"
              styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
              (click)="layoutsidebarVisible = true"
              icon="pi pi-arrow-right"
            ></p-button>

            <button
              class="sm:text-xs md:text-xs lg:text-base"
              styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
              *ngIf="this.currentQuestion?.typeAlgoName === 'QCM'"
              pButton
              (click)="workOnQCM()"
              [pTooltip]="'scanexam.qcmcorrect' | translate"
              [tooltipZIndex]="'3000'"
              [label]="'scanexam.qcmcorrectlabel' | translate"
            ></button>
            <button
              class="sm:text-xs md:text-xs lg:text-base"
              styleClass="md:text-xs sm:p-button-sm md:p-button-sm lg:p-button"
              type="text"
              *ngIf="this.currentQuestion?.typeAlgoName === 'QCM'"
              pButton
              [pTooltip]="'scanexam.showqcmcorrect' | translate"
              [tooltipZIndex]="'3000'"
              [label]="'scanexam.showqcmcorrectlabel' | translate"
              (click)="showQCMCorrect($event)"
            ></button>

            <button [hidden]="!debug" type="text" pButton [label]="'reset'" (click)="removeAllAnswer()"></button>
          </div>

          <div class="col-2">
            <button
              class="sm:text-xs md:text-xs lg:text-base"
              pButton
              [disabled]="!examId"
              (click)="showGalleria()"
              jhiTranslate="scanexam.showgalleria"
            >
              Show full page
            </button>
            <!--            <h2>Question {{ questionno! + 1 }}</h2>-->
          </div>
          <div class="col-1">
            <fa-icon [size]="'2x'" [tooltipZIndex]="'3000'" [pTooltip]="getStudentName()!" tooltipPosition="left" icon="eye"></fa-icon>
          </div>

          <div class="col-4 flex flex-row-reverse">
            <button
              [disabled]="!this.examId"
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="p-button p-button-primary mr-5"
              (click)="gotoUE()"
            >
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span class="sm:text-xs md:text-xs lg:text-base" jhiTranslate="scanexam.gobackexam"
                >Retourner à l'exam</span
              >
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center" ng-if="questionnofirst !== -1">
          <p-paginator
            [currentPageReportTemplate]="'scanexam.currentpage' | translate"
            [rows]="1"
            [first]="questionindex!"
            [totalRecords]="nbreQuestions!"
            (onPageChange)="changeQuestion($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
            [pTooltip]="'Question ' + questionNumeros[questionindex]"
          ></p-paginator>
          <div></div>
        </div>

        <div class="d-flex justify-content-center" *ngFor="let k of questions; let i = index">
          <div>
            <canvas [hidden]="!showImage[i]" #nomImage></canvas>
          </div>
        </div>
        <div style="padding-bottom: 2rem"></div>
        <div class="d-flex justify-content-center">
          <p-paginator
            [currentPageReportTemplate]="'scanexam.currentstudent' | translate"
            [rows]="1"
            [first]="currentStudent"
            [totalRecords]="numberPagesInScan! / nbreFeuilleParCopie!"
            (onPageChange)="changeStudent($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
          >
          </p-paginator>
        </div>
      </div>

      <div class="col-12 sm:col-12 md:col-12 lg:col-3 xl:col-2">
        <div class="grid grid-nogutter">
          <div style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <p-rating
              [disabled]="
                currentQuestion !== undefined && (currentQuestion.gradeType !== 'DIRECT' || currentQuestion.typeAlgoName === 'QCM')
              "
              *ngIf="
                currentQuestion !== undefined &&
                currentQuestion.gradeType === 'DIRECT' &&
                noteSteps > 0 &&
                currentQuestion.typeAlgoName !== 'QCM'
              "
              [stars]="noteSteps"
              [(ngModel)]="currentNote"
              (onRate)="changeNote()"
              (onCancel)="changeNote()"
            ></p-rating>
            <span jhiTranslate="scanexam.noteattribuee">Note attribuée : </span
            ><span *ngIf="questionStep > 0 && resp?.id && currentNote !== undefined"
              ><b>{{ currentNote! / questionStep }}</b></span
            >
            <span *ngIf="questionStep <= 0 && resp?.id"
              ><b>{{ currentNote }}</b></span
            >
            <span *ngIf="!resp?.id" jhiTranslate="scanexam.noneval">non évalué</span>
            <span
              *ngIf="resp?.id"
              class="float-end"
              [tooltipPosition]="'left'"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.tooltipResetAnswer' | translate"
              (click)="removeAnswer()"
            >
              <fa-icon icon="times"></fa-icon>
            </span>
            <span *ngIf="resp?.id" class="float-end" [tooltipPosition]="'left'" [tooltipZIndex]="'3000'" [pTooltip]="''">
              &nbsp; &nbsp;
            </span>

            <span
              *ngIf="resp?.id"
              class="float-end"
              [tooltipPosition]="'left'"
              [tooltipZIndex]="'3000'"
              [pTooltip]="'scanexam.tooltipCompareMark' | translate"
              (click)="compareMark($event, resp!)"
            >
              <fa-icon icon="code-compare"></fa-icon>
            </span>
          </div>
          <div *ngIf="resp" style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <label jhiTranslate="scanexam.excellente">Excellente réponse: </label>
            <p-inputSwitch class="float-end" [(ngModel)]="resp!.star" (onChange)="updateResponse()"></p-inputSwitch>
          </div>
          <div *ngIf="resp" style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <label jhiTranslate="scanexam.badanswer">Mauvaise réponse remarquable: </label>
            <p-inputSwitch class="float-end" [(ngModel)]="resp!.worststar" (onChange)="updateResponse()"></p-inputSwitch>
          </div>
          <div style="padding-bottom: 1rem" class="col-3 sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <jhi-graphical-toolbarcorrection></jhi-graphical-toolbarcorrection>
          </div>
        </div>

        <div class="grid" *ngIf="currentQuestion && currentQuestion?.gradeType === 'DIRECT' && currentQuestion?.typeAlgoName !== 'QCM'">
          <div *ngFor="let comment of currentTextComment4Question | sort: 'checked'" class="sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <div class="card" [style]="getStyle(comment)">
              <div class="card-body">
                <span class="float-end" (click)="removeTextComment(comment)">
                  <fa-icon icon="times"></fa-icon>
                </span>
                <span class="float-end">&nbsp;&nbsp;</span>
                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.tooltipCompareComment' | translate"
                  (click)="compareTextComment($event, comment)"
                >
                  <fa-icon icon="code-compare"></fa-icon>
                </span>
                <span class="float-end">&nbsp;&nbsp;</span>
                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.minimizeComment' | translate"
                  (click)="toggleCommentLayout()"
                >
                  <fa-icon *ngIf="!minimizeComment" icon="minus"></fa-icon>
                  <fa-icon *ngIf="minimizeComment" icon="maximize"></fa-icon>
                </span>
                <span class="float-end">&nbsp;&nbsp;</span>

                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.keyboardshortcuttooltip' | translate"
                  (click)="bindKeyBoardShortCut(comment)"
                >
                  <fa-icon icon="keyboard"></fa-icon>
                </span>
                <div *ngIf="!minimizeComment">
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <h5 class="card-title">{{ comment.text }}</h5>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="comment.text"
                        [style]="{ width: '80%' }"
                        (change)="updateComment($event, comment, false)"
                      />
                    </ng-template>
                  </p-inplace>
                  <p-inplace [closable]="true">
                    <ng-template pTemplate="display">
                      <p class="card-text">{{ comment.description }}</p>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="comment.description"
                        (change)="updateComment($event, comment, false)"
                        [style]="{ width: '80%' }"
                      />
                    </ng-template>
                  </p-inplace>
                  <a
                    *ngIf="!checked(comment)"
                    class="p-button p-button-primary"
                    (click)="ajouterTComment(comment)"
                    jhiTranslate="scanexam.add"
                    >Ajouter</a
                  >
                  <a
                    *ngIf="checked(comment)"
                    class="p-button p-button-primary"
                    (click)="retirerTComment(comment)"
                    jhiTranslate="scanexam.remove"
                    >Retirer</a
                  >
                </div>
                <div *ngIf="minimizeComment" (click)="toggleTComment(comment)">
                  <h5 [tooltipZIndex]="'3000'" [pTooltip]="comment.description" tooltipPosition="left" class="card-title">
                    {{ comment.text }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid" *ngIf="(currentQuestion && currentQuestion?.gradeType !== 'DIRECT') || currentQuestion?.typeAlgoName === 'QCM'">
          <div *ngFor="let comment of currentGradedComment4Question | sort: 'checked'" class="sm:col-3 md:col-3 lg:col-12 xl:col-12">
            <div class="card" [style]="getStyle(comment)">
              <div class="card-body">
                <span *ngIf="currentQuestion?.typeAlgoName !== 'QCM'" class="float-end clickable" (click)="removeGradedComment(comment)"
                  ><fa-icon icon="times"></fa-icon
                ></span>
                <span class="float-end">&nbsp;&nbsp;</span>
                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.tooltipCompareComment' | translate"
                  (click)="compareGradedComment($event, comment)"
                >
                  <fa-icon icon="code-compare"></fa-icon>
                </span>
                <span class="float-end">&nbsp;&nbsp;</span>
                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.minimizeComment' | translate"
                  (click)="toggleCommentLayout()"
                >
                  <fa-icon *ngIf="!minimizeComment" icon="minus"></fa-icon>
                  <fa-icon *ngIf="minimizeComment" icon="maximize"></fa-icon>
                </span>
                <span class="float-end">&nbsp;&nbsp;</span>

                <span
                  class="float-end"
                  [tooltipPosition]="'left'"
                  [tooltipZIndex]="'3000'"
                  [pTooltip]="'scanexam.keyboardshortcuttooltip' | translate"
                  (click)="bindKeyBoardShortCut(comment)"
                >
                  <fa-icon icon="keyboard"></fa-icon>
                </span>
                <div *ngIf="!minimizeComment">
                  <div *ngIf="currentQuestion?.typeAlgoName === 'QCM'">
                    <h5 class="card-title">{{ comment.text }}</h5>
                    <p class="card-text">{{ comment.description }}</p>
                  </div>

                  <div *ngIf="currentQuestion?.typeAlgoName !== 'QCM'">
                    <p-inplace [closable]="true">
                      <ng-template pTemplate="display">
                        <h5 class="card-title">{{ comment.text }}</h5>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <input
                          pInputText
                          type="text"
                          [(ngModel)]="comment.text"
                          [style]="{ width: '80%' }"
                          (change)="updateComment($event, comment, true)"
                        />
                      </ng-template>
                    </p-inplace>
                    <p-inplace [closable]="true">
                      <ng-template pTemplate="display">
                        <p class="card-text">{{ comment.description }}</p>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <input
                          pInputText
                          type="text"
                          [(ngModel)]="comment.description"
                          (change)="updateComment($event, comment, true)"
                          [style]="{ width: '80%' }"
                        />
                      </ng-template>
                    </p-inplace>
                    <p-inplace [closable]="true">
                      <ng-template pTemplate="display">
                        <p class="card-text" *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'">
                          <span jhiTranslate="scanexam.noteassociecomment"> Note associée à ce commentaire : </span>
                          <span *ngIf="currentQuestion && currentQuestion?.gradeType === 'NEGATIVE'"> - </span
                          ><span *ngIf="currentQuestion && currentQuestion?.gradeType === 'POSITIVE'"> + </span>
                          <span *ngIf="questionStep > 0">{{ comment.grade! / questionStep }}</span>
                          <span *ngIf="questionStep <= 0">{{ comment.grade! }}</span>
                        </p>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <p-rating
                          *ngIf="noteSteps > 0 && currentQuestion && currentQuestion?.gradeType !== 'DIRECT'"
                          [cancel]="true"
                          [stars]="noteSteps"
                          [(ngModel)]="comment.grade"
                          (ngModelChange)="updateComment($event, comment, true)"
                        ></p-rating>
                      </ng-template>
                    </p-inplace>
                  </div>
                  <a
                    *ngIf="!checked(comment)"
                    class="p-button p-button-primary"
                    (click)="ajouterGComment(comment)"
                    jhiTranslate="scanexam.add"
                    >Ajouter</a
                  >
                  <a
                    *ngIf="checked(comment)"
                    class="p-button p-button-primary"
                    (click)="retirerGComment(comment)"
                    jhiTranslate="scanexam.remove"
                    >Retirer</a
                  >
                </div>
                <div *ngIf="minimizeComment" (click)="toggleGComment(comment)">
                  <div *ngIf="currentQuestion?.typeAlgoName! === 'QCM'">
                    <h5 [tooltipZIndex]="'3000'" [pTooltip]="comment.description" tooltipPosition="left" class="card-title">
                      {{ comment.text }}
                    </h5>
                  </div>
                  <div *ngIf="currentQuestion?.typeAlgoName! !== 'QCM'" (click)="toggleGComment(comment)">
                    <h5 [tooltipZIndex]="'3000'" [pTooltip]="comment!.description!" tooltipPosition="left" class="card-title">
                      {{ comment.text }} ( <span *ngIf="currentQuestion && currentQuestion?.gradeType! === 'NEGATIVE'"> - </span
                      ><span *ngIf="currentQuestion && currentQuestion?.gradeType! === 'POSITIVE'"> + </span>
                      <span *ngIf="questionStep > 0">{{ comment.grade! / questionStep }}</span>
                      <span *ngIf="questionStep <= 0">{{ comment.grade! }}</span>

                      pt)
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="grid"
          *ngIf="
            (!minimizeComment ||
              ((currentGradedComment4Question === undefined || currentGradedComment4Question?.length === 0) &&
                (currentTextComment4Question === undefined || currentTextComment4Question?.length === 0))) &&
            currentQuestion &&
            currentQuestion?.typeAlgoName !== 'QCM'
          "
        >
          <div class="sm:col-6 md:col-6 lg:col-12 xl:col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" jhiTranslate="scanexam.newcomment">Nouveau commentaire</h5>
                <p class="card-text">
                  <label jhiTranslate="scanexam.commenttitle">Titre :</label>
                  <input type="text" pInputText [(ngModel)]="titreCommentaire" [style]="{ width: '100%' }" />
                  <BR />
                  <label jhiTranslate="scanexam.commentdesc">Description :</label>
                  <textarea [style]="{ width: '100%' }" pInputTextarea [(ngModel)]="descCommentaire"></textarea>
                  <label *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'" jhiTranslate="scanexam.commentnote"
                    >Note :</label
                  >
                  <p-rating
                    *ngIf="noteSteps > 0 && currentQuestion && currentQuestion?.gradeType !== 'DIRECT'"
                    [stars]="noteSteps"
                    [(ngModel)]="noteCommentaire"
                    [style]="{ width: '100%' }"
                  ></p-rating>
                  <span *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'">
                    <span jhiTranslate="scanexam.commentnotbind">Note associée à ce commentaire : </span
                    ><span *ngIf="currentQuestion && currentQuestion?.gradeType === 'NEGATIVE'"> - </span
                    ><span *ngIf="questionStep > 0">{{ noteCommentaire / questionStep }}</span>
                    <span *ngIf="questionStep <= 0">{{ noteCommentaire }}</span></span
                  >
                </p>
                <a class="p-button p-button-primary" (click)="addComment()" jhiTranslate="scanexam.commentaddapply">Ajouter et appliquer</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>-->
    </div>
  </div>
</div>
