<div class="grid">
  <p-toast></p-toast>
  <p-blockUI [blocked]="blocked">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
  </p-blockUI>

  <div class="col-8">
    <div class="grid grid-nogutter">
      <div class="col-8">
        <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">Correction</h2>
      </div>
      <div class="col-4 flex flex-row-reverse">
        <button
          [disabled]="!this.examId"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
          (click)="gotoUE()"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retourner à l'exam</span>
        </button>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid align-items-center">
        <div class="col-1">
          <!--  <p-button icon="pi pi-refresh"></p-button>-->
        </div>
        <div class="col-7">
          <p-paginator
            [currentPageReportTemplate]="'{currentPage} étudiant sur {totalPages} étudiant(s)'"
            [rows]="1"
            [first]="currentStudent"
            [totalRecords]="numberPagesInScan! / nbreFeuilleParCopie!"
            (onPageChange)="changeStudent($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
          ></p-paginator>
        </div>
        <div class="col-4 grid justify-content-end">
          <!--<p-button icon="pi pi-search"></p-button>-->
        </div>
      </div>

      <div class="grid">
        <div class="col-9">
          <div class="d-flex justify-content-center">
            <h2>Question {{ questionno + 1 }}</h2>
          </div>
          <div class="d-flex justify-content-center" *ngFor="let k of questions; let i = index">
            <div>
              <canvas [hidden]="!showImage[i]" #nomImage></canvas>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div>
            <p-rating
              [disabled]="currentQuestion !== undefined && currentQuestion?.gradeType !== 'DIRECT'"
              *ngIf="noteSteps > 0"
              [stars]="noteSteps"
              [(ngModel)]="currentNote"
              (onRate)="changeNote()"
            ></p-rating>
            <p-slider
              [disabled]="currentQuestion !== undefined && currentQuestion?.gradeType !== 'DIRECT'"
              *ngIf="noteSteps > 0"
              [(ngModel)]="currentNote"
              [min]="0"
              [max]="maxNote * questionStep"
              [step]="1"
              (onChange)="changeNote()"
            >
            </p-slider>
            Note attribuée: {{ currentNote / questionStep }}
            <!--  <p-button icon="pi pi-refresh"></p-button>-->
            <jhi-graphical-toolbarcorrection></jhi-graphical-toolbarcorrection>
          </div>
          <div>
            <div *ngIf="currentQuestion && currentQuestion?.gradeType === 'DIRECT'">
              <div *ngFor="let comment of currentTextComment4Question" class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ comment.text }}</h5>
                  <p class="card-text">{{ comment.description }}</p>
                  <a *ngIf="!checked(comment)" class="btn btn-primary" (click)="ajouterTComment(comment)">Ajouter</a>
                  <a *ngIf="checked(comment)" class="btn btn-primary" (click)="retirerTComment(comment)">Retirer</a>
                </div>
              </div>
            </div>
            <div *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'">
              <div *ngFor="let comment of currentGradedComment4Question" class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ comment.text }}</h5>
                  <p class="card-text">{{ comment.description }}</p>
                  <p class="card-text" *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'">
                    Note associée à ce commentaire : <span *ngIf="currentQuestion && currentQuestion?.gradeType === 'NEGATIVE'"> - </span
                    >{{ comment.grade! / questionStep }}
                  </p>

                  <a *ngIf="!checked(comment)" class="btn btn-primary" (click)="ajouterGComment(comment)">Ajouter</a>
                  <a *ngIf="checked(comment)" class="btn btn-primary" (click)="retirerGComment(comment)">Retirer</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Nouveau commentaire</h5>
                <p class="card-text">
                  <label>Titre :</label>
                  <input type="text" pInputText [(ngModel)]="titreCommentaire" [style]="{ width: '100%' }" />
                  <BR />
                  <label>Description :</label>
                  <textarea [style]="{ width: '100%' }" pInputTextarea autoResize="true" [(ngModel)]="descCommentaire"></textarea>
                  <label *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'"> Note :</label>
                  <p-rating
                    *ngIf="noteSteps > 0 && currentQuestion && currentQuestion?.gradeType !== 'DIRECT'"
                    [stars]="noteSteps"
                    [(ngModel)]="noteCommentaire"
                    [style]="{ width: '100%' }"
                  ></p-rating>
                  <span *ngIf="currentQuestion && currentQuestion?.gradeType !== 'DIRECT'"
                    >Note associée à ce commentaire : <span *ngIf="currentQuestion && currentQuestion?.gradeType !== 'NEGATIVE'"> - </span
                    >{{ noteCommentaire / questionStep }}</span
                  >
                </p>
                <a class="btn btn-primary" (click)="addComment()">Ajouter et appliquer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid align-items-center">
        <div class="col-1">
          <!--<p-button icon="pi pi-refresh"></p-button>-->
        </div>
        <div class="col-7">
          <p-paginator
            [currentPageReportTemplate]="'{currentPage} question sur {totalPages} questions(s)'"
            [rows]="1"
            [first]="questionno"
            [totalRecords]="nbreQuestions!"
            (onPageChange)="changeQuestion($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false"
          ></p-paginator>
        </div>
        <div class="col-4 grid justify-content-end">
          <!--<p-button icon="pi pi-search"></p-button>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 md:col-4 overflow-hidden">
    <img
      src="content/images/bannerright.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
