<div class="flex ml-0 mr-0">
  <div class="">
    <jhi-fabric-canvas [exam]="exam" [content]="content" [numeroEvent]="numero"></jhi-fabric-canvas>
  </div>
  <div
    class="flex flex-column flex-grow-1 top-0 right-0 p-1 m-2"
    style="overflow-y: auto; overflow-x: hidden; max-height: 85vh; position: sticky; top: 0"
  >
    <button
      style="overflow: visible"
      type="submit"
      (click)="previousState()"
      class="right-0 p-button-primary"
      pButton
      data-cy="entityDetailsBackButton"
    >
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>
    <div class="templateForm">
      <h3>Palette</h3>
      <hr />
      <jhi-graphical-toolbar></jhi-graphical-toolbar>
      <jhi-questionpropertiesview (updatenumero)="updateNumero($event)"></jhi-questionpropertiesview>
    </div>
  </div>
</div>
<!--
<div class="flex ml-0 mr-0">
<p-splitter [panelSizes]="[25, 75]" >
  <ng-template pTemplate>
    <div class="">
      <jhi-fabric-canvas [exam]="exam" [content]="content" [numeroEvent]="numero"></jhi-fabric-canvas>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="flex flex-column flex-grow-1 top-0 right-0 p-1 m-2">
      <button type="submit" (click)="previousState()" class="right-0 btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <div class="templateForm">
        <h3>Palette</h3>
        <hr />
        <jhi-graphical-toolbar></jhi-graphical-toolbar>
        <jhi-questionpropertiesview (updatenumero)="updateNumero($event)"></jhi-questionpropertiesview>
      </div>
    </div>
  </ng-template>
</p-splitter>
</div>-->
