name: Angular GitHub CI
on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install all system dependencies
        run: sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: |
          npm ci
#      - name: Copy patch primeng
#        run: |
#          cp ./src/main/resources/primeng-galleria.mjs ./node_modules/primeng/fesm2022/primeng-galleria.mjs
#      - name: Copy second patch primeng
#        run: |
#          cp ./src/main/resources/primeng-tooltip.mjs ./node_modules/primeng/fesm2022/primeng-tooltip.mjs
      - name: Build
        run: |
          npm run webapp:build:prodgithubpage
      - name: Lint
        run: |
          npm run lint
      - name: Test
        run: |
          npm run test
      - name: Copy 404
        run: |
          npm run copy:404
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/classes/static


